<% include ../Partials/HeaderRoot  %>
<div class="wrapper-page">

    <div class="card">
        <div class="card-body">

            <h3 class="text-center m-0">The Best Fly
                <!-- <a href="/" class="logo logo-admin"><img src="public/assets/images/logo.png" height="30" alt="logo"></a> -->
            </h3>

            <div class="p-3">
                <h4 class="text-muted font-18 m-b-5 text-center">Welcome Back !</h4>
                <p class="text-muted text-center">Sign in to continue to Dashboard.</p>
                <div id="alert_message_users"></div>
                <form class="form-horizontal m-t-30" id="login_form" name="login_form">

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control required" name="userEmail" placeholder="Enter username">
                    </div>

                    <div class="form-group">
                        <label for="userpassword">Password</label>
                        <input type="password" class="form-control required" name="password"
                            placeholder="Enter password">
                    </div>

                    <div class="form-group row m-t-20">
                        <div class="col-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                <label class="custom-control-label" for="customControlInline">Remember me</label>
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Log In</button>
                        </div>
                    </div>

                    <!-- <div class="form-group m-t-10 mb-0 row">
                                <div class="col-12 m-t-20">
                                    <a href="pages-recoverpw" class="text-muted"><i class="mdi mdi-lock"></i> Forgot your password?</a>
                                </div>
                            </div> -->
                </form>
            </div>

        </div>
    </div>

</div>

<% include ../Partials/FooterRoot  %>
<script src="public/resources/admin-login.js"></script>