<%- contentFor('HeaderCss') %>
<!-- perticular page css -->


<%- contentFor('body') %>
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">About Us Editors</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                        <li class="breadcrumb-item active">About Us Editors</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-12" id="about_us_editor">
                <div class="card m-b-20">
                    <div class="card-body">
                        <div id="alert_about_message"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <form id="about_info_form" autocomplete="off" action="#">
                                    <input type="text" name='id' hidden>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <label>About Us Image</label>
                                                <input type="file" class="filestyle form-control required"
                                                    id="about_img" data-buttonname="btn-secondary"
                                                    onchange="aboutImageChange(this);">
                                            </div>
                                            <div class="col-lg-4">
                                                <img id="about_img_uri" src="public/assets/images/upload.jpg"
                                                    alt="your image" style="width: 100px; height:auto;" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label>You Tube Video Url</label>
                                        <input type="text" class="form-control" name="video_url" required
                                            placeholder="Video Url">
                                    </div>

                                    <textarea id="about_us_description" name="about_us_description"></textarea>
                                    <div class="border-bottom mt-5"></div>
                                    <div class="form-group">
                                        <div>
                                            <button type="submit" id="submit_about_us"
                                                class="btn btn-primary waves-effect waves-light float-right">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <div class="card m-b-20">
                                    <div class="card-body">
                                        <h4 class="mt-0 header-title">About Us Content</h4>
                                        <div id="about_us"></div>
                                        <button type="submit" id="edit_about_us"
                                            class="btn btn-info mt-20 waves-effect waves-light float-right">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">

                </div>
            </div> <!-- end row -->

        </div> <!-- container-fluid -->

        <div class="row">
            <div class="col-12">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">More About Us Content</h4>
                        <div id="more_about_us"></div>
                        <button type="submit" id="edit_about_us_more"
                            class="btn btn-info mt-20 waves-effect waves-light float-right">Edit</button>
                    </div>
                </div>
                <div class="card m-b-20" id="more_about_container">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">More About Us Editor</h4>
                        <textarea id="more_about_us_description" name="more_about_us_description"></textarea>
                        <button type="submit" id="submit_about_us_more"
                            class="btn btn-info mt-20 waves-effect waves-light float-right">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- content -->
<div class="modal fade bs-example-modal-center" id="loadingModal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="loadingModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                Loading. Please Wait...
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor('FooterJs') %>


<!--Wysiwig js-->
<script src="public/plugins/tinymce/tinymce.min.js"></script>
<script src="public/resources/about-us-page.js"></script>