  <%- contentFor('HeaderCss') %>
  <!-- perticular page css -->
  <link href="public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
  <link href="public/assets/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
  <link href="public/assets/css/theme-skin-color-set1.css" rel="stylesheet" type="text/css">
  <%- contentFor('body') %>
  <!-- Start content -->
  <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
                  <div class="page-title-box">
                      <h4 class="page-title">All Users Contacts</h4>
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                          <li class="breadcrumb-item active">Users Contact</li>
                      </ol>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <div class="card m-b-20">
                      <div class="card-body">
                          <h4 class="mt-0 mb-40 header-title">User Contact Details</h4>
                          <div id="userDetails"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- container-fluid -->
  </div>
  <!-- content -->

  <div class="modal fade bs-example-modal-center" id="loadingModal" data-backdrop="static" data-keyboard="false"
      tabindex="-1" role="dialog" aria-labelledby="loadingModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-body">
                  <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                  Loading. Please Wait...
                  <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <%- contentFor('FooterJs') %>
  <script src="public/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
  <script src="public/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
  <!-- Parsley js -->
  <script src="public/plugins/parsleyjs/parsley.min.js"></script>
  <script src="public/resources/all-users.js"></script>
  <script>

  </script>