  <%- contentFor('HeaderCss') %>
  <!-- perticular page css -->
  <link href="public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
  <link href="public/assets/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
  <link href="public/assets/css/theme-skin-color-set1.css" rel="stylesheet" type="text/css">
  <%- contentFor('body') %>
  <!-- Start content -->
  <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
                  <div class="page-title-box">
                      <h4 class="page-title">Contact</h4>
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                          <li class="breadcrumb-item active">Contact</li>
                      </ol>
                  </div>
              </div>
          </div>

          <!-- end row -->
          <div class="row">
              <div class="col-lg-6">
                  <div class="card m-b-20">
                      <div class="card-body">
                          <h4 class="mt-0 header-title">Contact Details</h4>
                          <div id="alert_message_footer"></div>
                          <form id="contact_info_form" autocomplete="off" action="#">
                              <input type="text" name='id' hidden>

                              <div class="form-group">
                                  <label>Location Map</label>
                                  <div>
                                      <textarea required class="form-control" name="contact_map" rows="5"></textarea>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label>Address</label>
                                  <div>
                                      <input type="text" class="form-control" name="contact_address"
                                          placeholder="Your Address">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label>Open Hours</label>
                                  <div>
                                      <input type="text" class="form-control" name="contact_hour"
                                          placeholder="Open Hours">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label>Email</label>
                                  <div>
                                      <input type="text" class="form-control" name="conatct_email"
                                          placeholder="Your Email Id">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label>Contact Number</label>
                                  <div>
                                      <input type="text" class="form-control" name="contcat_number"
                                          placeholder="Your Contact Number">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label>Facebook ID Number</label>
                                  <div>
                                      <input type="text" class="form-control" name="contact_fb_id"
                                          placeholder="Your Youtube Page Url">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label>Whatsapp Number</label>
                                  <div>
                                      <input type="text" class="form-control" name="contact_wp_number"
                                          placeholder="Your Whatsapp Number">
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label>Whatsapp Intro Msg</label>
                                  <div>
                                      <input type="text" class="form-control" name="contact_wp_intro"
                                          placeholder="Your Intro Msg">
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div>
                                      <button type="submit" id="submit_contact_form"
                                          class="btn btn-primary waves-effect waves-light float-right">Submit</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>

              </div>
              <div class="col-lg-6">
                  <div class="card m-b-20">
                      <div class="card-body">
                          <h4 class="mt-0 mb-40 header-title">Contact Details</h4>
                          <div id="contactDetails"></div>
                          <div class="border-bottom"></div>
                          <button type="submit" id="edit_contact_content"
                              class="btn btn-info waves-effect waves-light float-right">Edit</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- end row -->
      </div>
      <!-- container-fluid -->
  </div>
  <!-- content -->

  <div class="modal fade bs-example-modal-center" id="loadingModal" data-backdrop="static" data-keyboard="false"
      tabindex="-1" role="dialog" aria-labelledby="loadingModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-body">
                  <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                  Loading. Please Wait...
                  <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <%- contentFor('FooterJs') %>
  <script src="public/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
  <script src="public/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
  <!-- Parsley js -->
  <script src="public/plugins/parsleyjs/parsley.min.js"></script>
  <script src="public/resources/contact.js"></script>
  <script>

  </script>