  <%- contentFor('HeaderCss') %>
  <!-- perticular page css -->
  <link href="public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
  <link href="public/assets/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
  <link href="public/assets/css/theme-skin-color-set1.css" rel="stylesheet" type="text/css">
  <%- contentFor('body') %>
  <!-- Start content -->
  <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
                  <div class="page-title-box">
                      <h4 class="page-title">Header and Footer</h4>
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="javascript:void(0);">Exam</a></li>
                          <li class="breadcrumb-item active">Header and footer</li>
                      </ol>
                  </div>
              </div>
          </div>

          <!-- end row -->
          <div class="row">
              <div class="col-lg-6">
                  <div class="card m-b-20">
                      <div class="card-body">
                          <h4 class="mt-0 header-title">Header Details</h4>
                          <div id="alert_message_footer"></div>
                          <form id="header_info_form" autocomplete="off" action="#">
                              <input type="text" name='id' hidden>
                              <div class="form-group">
                                  <div class="row">
                                      <div class="col-lg-8">
                                          <label>Header Logo</label>
                                          <input type="file" class="filestyle form-control required" id="header_logo"
                                              data-buttonname="btn-secondary" onchange="headerLogoChange(this);">
                                      </div>
                                      <div class="col-lg-4">
                                          <img id="header_logo_uri" src="public/assets/images/upload.jpg"
                                              alt="your image" style="width: 100px; height:auto;" />
                                      </div>
                                  </div>

                              </div>
                              <div class="form-group">
                                  <label>Contact Number</label>
                                  <input type="text" class="form-control" name="header_contact" required
                                      placeholder="Your Contact Number">
                              </div>
                              <div class="form-group">
                                  <label>Timing</label>
                                  <div>
                                      <input type="text" class="form-control" name="header_timing" placeholder="Timing">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div>
                                      <button type="submit" id="submit_header"
                                          class="btn btn-primary waves-effect waves-light float-right">Submit</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>

              </div>
              <div class="col-lg-6">
                  <div class="card m-b-20">
                      <div class="card-body">
                          <h4 class="mt-0 mb-40 header-title">Header Details</h4>
                          <div id="headerDetails"></div>
                          <div class="border-bottom"></div>
                          <button type="submit" id="edit_header_content"
                              class="btn btn-info waves-effect waves-light float-right">Edit</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- end row -->
          <div class="row">
              <div class="col-lg-6">
                  <div class="card m-b-20">
                      <div class="card-body">
                          <h4 class="mt-0 header-title">Footer Details</h4>
                          <div id="alert_message_footer"></div>
                          <form id="footer_info_form" autocomplete="off" action="#">
                              <input type="text" name='id' hidden>
                              <div class="form-group">
                                  <div class="row">
                                      <div class="col-lg-8">
                                          <label>Footer Logo</label>
                                          <input type="file" class="filestyle" required id="footer_logo"
                                              data-buttonname="btn-secondary" onchange="footerLogoChange(this);">
                                      </div>
                                      <div class="col-lg-4">
                                          <img id="footer_logo_uri" src="public/assets/images/upload.jpg"
                                              alt="your image" style="width: 100px; height:auto;" />
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label>Footer Content</label>
                                  <div>
                                      <textarea required class="form-control" name="footer_content" rows="5"></textarea>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label>Insta Id</label>
                                  <div>
                                      <input type="text" class="form-control" name="footer_insta_Id"
                                          placeholder="Your Skype id">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label>Social facebook Url</label>
                                  <div>
                                      <input type="text" class="form-control" name="footer_fburl"
                                          placeholder="Your Facebook Page Url">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label>Social Twitter Url</label>
                                  <div>
                                      <input type="text" class="form-control" name="footer_twitter"
                                          placeholder="Your Twitter Page Url">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label>Social Youtube Url</label>
                                  <div>
                                      <input type="text" class="form-control" name="footer_youtube"
                                          placeholder="Your Youtube Page Url">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label>Social Linkedin Url</label>
                                  <div>
                                      <input type="text" class="form-control" name="footer_linkedin"
                                          placeholder="Your Linkedin Page Url">
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label>Copy Right Text</label>
                                  <div>
                                      <input type="text" class="form-control" name="footer_copy_right"
                                          placeholder="Your Skype id">
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div>
                                      <button type="submit" id="submit_footer"
                                          class="btn btn-primary waves-effect waves-light float-right">Submit</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>

              </div>
              <div class="col-lg-6">
                  <div class="card m-b-20">
                      <div class="card-body">
                          <h4 class="mt-0 mb-40 header-title">Footer Details</h4>
                          <div id="fooetrDetails"></div>
                          <div class="border-bottom"></div>
                          <button type="submit" id="edit_footer_content"
                              class="btn btn-info waves-effect waves-light float-right">Edit</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- end row -->
      </div>
      <!-- container-fluid -->
  </div>
  <!-- content -->

  <div class="modal fade bs-example-modal-center" id="loadingModal" data-backdrop="static" data-keyboard="false"
      tabindex="-1" role="dialog" aria-labelledby="loadingModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-body">
                  <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                  Loading. Please Wait...
                  <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <%- contentFor('FooterJs') %>
  <script src="public/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
  <script src="public/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
  <!-- Parsley js -->
  <script src="public/plugins/parsleyjs/parsley.min.js"></script>
  <script src="public/resources/header-footer.js"></script>
  <script>

  </script>