  <%- contentFor('HeaderCss') %>
  <!-- perticular page css -->
  <link href="public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
  <link href="public/assets/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
  <link href="public/assets/css/theme-skin-color-set1.css" rel="stylesheet" type="text/css">
  <%- contentFor('body') %>
  <!-- Start content -->
  <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
                  <div class="page-title-box">
                      <h4 class="page-title">Home Page</h4>
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="javascript:void(0);">Lexa</a></li>
                          <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
                          <li class="breadcrumb-item active">Form Validation</li>
                      </ol>
                      <% include ../Partials/TinyCharts %>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6">
                  <div class="card m-b-20">
                      <div class="card-body">
                          <h4 class="mt-0 header-title">Banner Details</h4>
                          <div id="alert-message"></div>
                          <form name="bannerFrom" id="bannerFrom" autocomplete="off">
                              <div class="form-group">
                                  <input type="text" name="id" hidden>
                                  <div class="row">
                                      <div class="col-md-8">
                                          <label>Insert Banner Image</label>
                                          <input type="file" class="form-control filestyle required" id="bannerImage"
                                              required data-buttonname="btn-secondary" onchange="onBannerChange(this);">
                                      </div>
                                      <div class="col-md-4">
                                          <img id="banner_img_data" src="public/assets/images/upload.jpg"
                                              alt="your image" style="width: 100px; height:auto;" />
                                      </div>
                                  </div>

                              </div>
                              <div class="form-group">
                                  <label>Banner Heading</label>
                                  <input type="text" class="form-control required" name="bannerHeading"
                                      placeholder="Your Heading">
                              </div>
                              <div class="form-group">
                                  <label>Banner subheading</label>
                                  <input type="text" class="form-control required" name="bannerSubHeading"
                                      placeholder="Your Sub Heading">
                              </div>
                              <div class="form-group">
                                  <div>
                                      <button type="submit" class="btn btn-primary waves-effect waves-light float-right"
                                          data-loading-text="Please wait...">Add Banner</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="card m-b-20">
                      <div class="card-body">
                          <h4 class="mt-0 header-title">All Banner</h4>
                          <div class="home-card-min-height" id="bannerDetails"></div>

                      </div>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-lg-6">
                  <div class="card m-b-20">
                      <div class="card-body">
                          <h4 class="mt-0 header-title">Heading And Sub Contant Form</h4>
                          <div id="alert-message-other"></div>
                          <form id="home_others" autocomplete="off" action="#">
                              <div class="form-group">
                                  <input type="text" name='id' hidden>
                                  <label>Why Choose Us Heading</label>
                                  <input type="text" class="form-control" name="why_choose_us_heading" required
                                      placeholder="Why Choose Us Area Heading">
                              </div>
                              <div class="form-group">
                                  <label>Why Choose Us content</label>
                                  <div>
                                      <textarea required class="form-control" name="why_choose_us_content"
                                          rows="5"></textarea>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label>Service Heading</label>
                                  <input type="text" class="form-control" name="service_heading" required
                                      placeholder="Faculty Members Aria Heading">
                              </div>
                              <div class="form-group">
                                  <label>Service Content </label>
                                  <div>
                                      <textarea required class="form-control" name="service_content"
                                          rows="5"></textarea>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label>Event Heading</label>
                                  <input type="text" class="form-control" name="event_heading" required
                                      placeholder="Faculty Members Aria Heading">
                              </div>
                              <div class="form-group">
                                  <label>Event Content </label>
                                  <div>
                                      <textarea required class="form-control" name="event_content" rows="5"></textarea>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label>Gallery Heading</label>
                                  <input type="text" class="form-control" name="gallery_heading" required
                                      placeholder="Faculty Members Aria Heading">
                              </div>
                              <div class="form-group">
                                  <label>Gallery Content </label>
                                  <div>
                                      <textarea required class="form-control" name="gallery_content"
                                          rows="5"></textarea>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label>Team Heading</label>
                                  <input type="text" class="form-control" name="team_heading" required
                                      placeholder="Faculty Members Aria Heading">
                              </div>
                              <div class="form-group">
                                  <label>Team Content </label>
                                  <div>
                                      <textarea required class="form-control" name="team_content" rows="5"></textarea>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label>Contact Heading</label>
                                  <input type="text" class="form-control" name="contact_heading" required
                                      placeholder="Faculty Members Aria Heading">
                              </div>
                              <div class="form-group">
                                  <label>Contact Content </label>
                                  <div>
                                      <textarea required class="form-control" name="contact_content"
                                          rows="5"></textarea>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div>
                                      <button type="submit" id="submit_home_others"
                                          class="btn btn-primary waves-effect waves-light float-right">Submit</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="card m-b-20">
                      <div class="card-body">
                          <h4 class="mt-0 header-title">Heading And Sub Contant Details</h4>
                          <div id="other_content"></div>
                          <div class="border-bottom"></div>
                          <button type="submit" id="edit_other_content"
                              class="btn btn-info waves-effect waves-light float-right">Edit</button>
                      </div>
                  </div>

              </div>
          </div>
          <div class="row">
              <div class="col-lg-6">
                  <div class="card m-b-20">
                      <div class="card-body">
                          <h4 class="mt-0 header-title">Add Short widget</h4>

                          <div id="alert-message-widget"></div>
                          <form id="widget_form" name="widget_form" autocomplete="off">
                              <input type="text" name="id" hidden>
                              <div class="form-group">
                                  <label>Widget Number</label>
                                  <input type="text" class="form-control required" name="widget_number"
                                      placeholder="Your Widget Number">
                              </div>
                              <div class="form-group">
                                  <label>Widget Heading</label>
                                  <input type="text" class="form-control required" name="widget_heading"
                                      placeholder="Your Widget Heading">
                              </div>
                              <div class="form-group">
                                  <label>Widget Content </label>
                                  <div>
                                      <textarea required class="form-control" name="Widget_content" rows="5"></textarea>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div>
                                      <button type="submit" class="btn btn-primary waves-effect waves-light float-right"
                                          data-loading-text="Please wait...">Add Widget</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="card m-b-20">
                      <div class="card-body">
                          <h4 class="mt-0 header-title">Home Short widget</h4>
                          <div class="row" id='home_widget_data'></div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- end row -->
      </div>
      <!-- container-fluid -->
  </div>
  <!-- content -->

  <div class="modal fade bs-example-modal-center" id="loadingModal" data-backdrop="static" data-keyboard="false"
      tabindex="-1" role="dialog" aria-labelledby="loadingModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-body">
                  <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                  Loading. Please Wait...
                  <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <%- contentFor('FooterJs') %>
  <script src="public/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
  <script src="public/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
  <!-- Parsley js -->
  <script src="public/resources/home-page.js"></script>