  <%- contentFor('HeaderCss') %>
  <!-- perticular page css -->
  <link href="public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
  <link href="public/assets/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
  <link href="public/assets/css/theme-skin-color-set1.css" rel="stylesheet" type="text/css">
  <%- contentFor('body') %>
  <!-- Start content -->
  <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
                  <div class="page-title-box">
                      <h4 class="page-title">Image Gallery</h4>
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                          <li class="breadcrumb-item active">Image Gallery</li>
                      </ol>
                  </div>
              </div>
          </div>

          <!-- end row -->
          <div class="row justify-content-center">
              <div class="col-12" id="about_us_editor">
                  <div class="card m-b-20">
                      <div class="card-body">
                          <h4 class="mt-0 header-title">Image Gallery Upload</h4>
                          <button type="submit" id="new_image_gallery"
                              class="btn btn-success waves-effect waves-light">Add New Gallery</button>
                          <button type="submit" id="existing_image_gallery"
                              class="btn btn-primary waves-effect waves-light">Add Image In Existing
                              Gallery</button>

                      </div>
                  </div>
              </div>
              <!-- end row -->
          </div>
          <!-- container-fluid -->

          <!-- <div class="row justify-content-center">
              <div class="col-12" id="about_us_editor">
                  <div class="card m-b-20">
                      <div class="card-body">
                          <h4 class="mt-0 header-title">Image Gallery Upload</h4>
                          <div id="image-container-box"></div>
                          <div class="image-container">
                              <div class="box">
                                  <div class="imgBox">
                                      <img
                                          src="https://ttol.vietnamnetjsc.vn/images/2019/08/14/06/43/nu-dien-vien-phu-phim-Ve-nha-di-con-8.jpg">
                                  </div>
                                  <div class="content">
                                      <h2>Image Hover Effects</h2>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
              </div> -->
          <div class="row">
              <div class="col-12">
                  <div id="image-gallery-container"></div>
              </div>
          </div>
      </div>
      <!-- end row -->
  </div>

  </div>
  <!-- content -->

  <div class=" modal fade bs-example-modal-center" id="loadingModal" data-backdrop="static" data-keyboard="false"
      tabindex="-1" role="dialog" aria-labelledby="loadingModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-body">
                  <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                  Loading. Please Wait...
                  <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="modal fade bd-example-modal-lg" id="newGalleryModle" data-backdrop="static" data-keyboard="false"
      tabindex="-1" role="dialog" aria-labelledby="loadingModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Upload New Image Gallery</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                  <form id="gallery_form" autocomplete="off" name="gallery_form">
                      <div class="form-group">
                          <label>Enter Name Of Gallery</label>
                          <input type="text" class="form-control" name="gal_name" required
                              placeholder="Name of your Gallery">
                      </div>
                      <div class="upload__box">
                          <div class="upload__btn-box">
                              <label class="upload__btn">
                                  <p>Upload images</p>
                                  <input type="file" multiple="" data-max_length="20" class="upload__inputfile">
                              </label>
                          </div>
                          <div class="upload__img-wrap"></div>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" id="add_image_gallery">Add Gallery</button>
                  <button type="button" class="btn btn-secondary close-modal-new" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
  <div class="modal fade bd-example-modal-lg" id="addnewImageInGalleryModle" data-backdrop="static"
      data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="loadingModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Add New Image In Gallery</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                  <form id="add_new_image_form" autocomplete="off" name="add_new_image_form">
                      <div class="form-group" id="allGalleryDropdown">
                      </div>

                      <div class="upload__box">
                          <div class="upload__btn-box">
                              <label class="upload__btn">
                                  <p>Upload images</p>
                                  <input type="file" multiple="" data-max_length="20" class="upload__inputfile">
                              </label>
                          </div>
                          <div class="upload__img-wrap"></div>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" id="add_new_image_in_gallery">Add Images</button>
                  <button type="button" class="btn btn-secondary close-modal-exist" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>


  <%- contentFor('FooterJs') %>
  <script src="public/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
  <script src="public/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
  <!-- Parsley js -->
  <script src="public/plugins/parsleyjs/parsley.min.js"></script>
  <script src="public/resources/image-gallery.js"></script>
  <script>

  </script>

  <!-- https://codepen.io/bluminethemes/pen/reEJZa -->