<%- contentFor('HeaderCss') %>
<!-- perticular page css -->

<link href="public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
<link href="public/assets/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
<link href="public/assets/css/theme-skin-color-set1.css" rel="stylesheet" type="text/css">
<%- contentFor('body') %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Service </h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                        <li class="breadcrumb-item active">Servicer</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">All service</h4>
                        <div id="serviceDetails"></div>

                    </div>
                </div>
            </div>
            <div class="col-lg-12" id="service_editor">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Service Details</h4>
                        <div id="alert_message_service"></div>
                        <form name="service_conten_form" id="service_conten_form" autocomplete="off">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Insert Service Image</label>
                                        <input type="text" name="id" hidden>
                                        <input type="file" class="filestyle form-control required" id="service_image"
                                            data-buttonname="btn-secondary" onchange="serviceImageChange(this);">
                                        <div class="row">
                                            <img class="text-center mt-2" id="service_img_uri"
                                                src="public/assets/images/upload.jpg" alt="your image"
                                                style="width: 50%; height:auto;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Service Name</label>
                                        <input type="text" class="form-control required" name="service_name"
                                            placeholder="Your Service Name">
                                    </div>
                                    <div class="form-group">
                                        <label>Service Heading</label>
                                        <input type="text" class="form-control required" name="service_heading"
                                            placeholder="Your Heading">
                                    </div>
                                    <div class="form-group">
                                        <label>Service Content</label>
                                        <textarea id="service_content" name="service_content"></textarea>
                                        <!-- <textarea required class="form-control required" name="service_content"
                                            rows="5"></textarea> -->
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom"></div>
                            <div class="form-group">
                                <div>
                                    <button type="submit"
                                        class="btn btn-primary waves-effect waves-light float-right">Add
                                        Service</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div> <!-- container-fluid -->

</div> <!-- content -->

<div class="modal fade bs-example-modal-center" id="loadingModal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="loadingModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                Loading. Please Wait...
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor('FooterJs') %>
<script src="public/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
<script src="public/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
<!-- Parsley js -->
<script src="public/plugins/parsleyjs/parsley.min.js"></script>
<script src="public/plugins/tinymce/tinymce.min.js"></script>
<!--Wysiwig js-->
<script src="public/resources/service-page.js"></script>