  <%- contentFor('HeaderCss') %>
  <!-- perticular page css -->
  <link href="public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

  <%- contentFor('body') %>
  <!-- Start content -->
  <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
                  <div class="page-title-box">
                      <h4 class="page-title">Form Validation</h4>
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="javascript:void(0);">Lexa</a></li>
                          <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
                          <li class="breadcrumb-item active">Form Validation</li>
                      </ol>
                      <% include ../Partials/TinyCharts %>
                  </div>
              </div>
          </div>
          <!-- end row -->
          <div class="row">
              <div class="col-md-12">
                  <div class="card m-b-20">
                      <div class="card-body">
                          <h4 class="mt-0 header-title">member Details</h4>
                          <div class="row" id="membersDetails"></div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-12" id="member_editor">
                  <div class="card m-b-20">
                      <div class="card-body">
                          <h4 class="mt-0 header-title">Add member Details</h4>
                          <div id="alert-message-member"></div>
                          <form name="member_from" id="member_from" autocomplete="off">
                              <div class="form-group">
                                  <div class="row">
                                      <div class="col-md-8">
                                          <label>Insert member Image</label>
                                          <input type="file" class="filestyle form-control required" name="memberImage"
                                              id="memberImage" data-buttonname="btn-secondary"
                                              onchange="memberImageChange(this);">
                                      </div>
                                      <div class="col-md-4">
                                          <img class="text-center mt-2" id="member_img_uri"
                                              src="public/assets/images/upload.jpg" alt="your image"
                                              style="width: 50%; height:auto;" />
                                      </div>
                                  </div>
                                  <input type="text" name="id" hidden>

                              </div>
                              <div class="form-group">
                                  <label>Member Name</label>
                                  <input type="text" class="form-control required" name="member_name"
                                      placeholder="Enter Your Name">
                              </div>
                              <div class="form-group">
                                  <label>Member Post</label>
                                  <input type="text" class="form-control required" name="member_post"
                                      placeholder="Post">
                              </div>

                              <div class="form-group">
                                  <div>
                                      <button type="submit" class="btn btn-primary waves-effect waves-light float-right"
                                          data-loading-text="Please wait...">Add member</button>

                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          <!-- end row -->
      </div>
      <!-- container-fluid -->
  </div>
  <!-- content -->
  <div class="modal fade bs-example-modal-center" id="loadingModal" data-backdrop="static" data-keyboard="false"
      tabindex="-1" role="dialog" aria-labelledby="loadingModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-body">
                  <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                  Loading. Please Wait...
                  <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <%- contentFor('FooterJs') %>
  <script src="public/resources/team.js"></script>