  <%- contentFor('HeaderCss') %>
  <!-- perticular page css -->
  <link href="public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

  <%- contentFor('body') %>
  <!-- Start content -->
  <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
                  <div class="page-title-box">
                      <h4 class="page-title">Video Gallery</h4>
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                          <li class="breadcrumb-item active">Video Gallery</li>
                      </ol>
                      <!-- <% include ../Partials/TinyCharts %> -->
                  </div>
              </div>
          </div>
          <!-- end row -->
          <div class="row">

              <div class="col-lg-12">
                  <div class="card m-b-20">
                      <div class="card-body">
                          <h4 class="mt-0 header-title">Add Videos</h4>
                          <form name="video_from" id="video_from" autocomplete="off">
                              <div class="row">
                                  <div class="form-group col-md-5">
                                      <label>Video Url</label>
                                      <input type="text" class="form-control required" name="video_Url"
                                          placeholder="Enter Video Url">
                                  </div>
                                  <div class="form-group col-md-5">
                                      <label>Video Name</label>
                                      <input type="text" class="form-control required" name="video_name"
                                          placeholder="Enter Video Name">
                                  </div>
                                  <div class="form-group col-md-2 mt-4 pt-1">
                                      <div>
                                          <button type="submit" class="btn btn-primary  waves-effect waves-light"
                                              data-loading-text="Please wait...">Add Video</button>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="card m-b-20">
                      <div class="card-body">
                          <h4 class="mt-0 header-title">All Videos</h4>
                          <div class="row" id="videoDetails"></div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- end row -->
      </div>
      <!-- container-fluid -->
  </div>
  <!-- content -->
  <div class="modal fade bs-example-modal-center" id="loadingModal" data-backdrop="static" data-keyboard="false"
      tabindex="-1" role="dialog" aria-labelledby="loadingModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-body">
                  <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                  Loading. Please Wait...
                  <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <%- contentFor('FooterJs') %>
  <script src="public/resources/video-gallery.js"></script>