<!-- <footer class="footer" *ngIf="isFooter">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="contact">
          <h3>About Info</h3>
          <hr>
          <a routerLink="/home"><img [src]="footer_container.footer_logo_uri" alt="" class="img-fluid"></a>
          <p>{{footer_container.footer_content}}</p>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="contact">
          <h3>Contact</h3>
          <hr>
          <div class="contact">Address: <span>{{contact_container.contactAddress}}</span></div>
          <div class="contact"><i class="bx bxl-call"></i>Mobile: {{contact_container.contcatNumber}}</div>
          <div class="contact">Email: {{contact_container.conatctEmail}}</div>
          <div class="contact">Whatsapp: {{contact_container.contactWpNumber}}</div>
          <jjva-ngx-whatsapp-button [ngx_whatsapp_phone]="contact_container.contactWpNumber"
            [ngx_whatsapp_text]="title"></jjva-ngx-whatsapp-button>

          <div class="social-links mt-5">
            <a href="{{footer_container.footer_twetter}}" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="{{footer_container.footer_facebook}}" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="{{footer_container.footer_insta}}" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="{{footer_container.footer_youtube}}" class="google-plus"><i class="bx bxl-youtube"></i></a>
            <a href="{{footer_container.footer_linkedin}}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="copyright">
          {{footer_container.footer_coppyright}}
        </div>
        <div class="credits">
          Designed by <a href="#">Abhimoy Kolay</a>
        </div>
      </div>
    </div>




  </div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a> -->



<footer id="footer" *ngIf="isFooter">
  <div class="container">
    <a routerLink="/home"><img [src]="footer_container.footer_logo_uri" alt="" class="img-fluid"></a>
    <p>{{footer_container.footer_content}}
    </p>
    <div class="contact">
      <!-- <h3>Contact</h3> -->
      <hr>
      <div class="contact">Address: <span>{{contact_container.contactAddress}}</span></div>
      <div class="contact"><i class="bx bxl-call"></i>Mobile: {{contact_container.contcatNumber}}</div>
      <div class="contact">Email: {{contact_container.conatctEmail}}</div>
      <div class="contact">Whatsapp: {{contact_container.contactWpNumber}}</div>
      <jjva-ngx-whatsapp-button [ngx_whatsapp_phone]="contact_container.contactWpNumber" [ngx_whatsapp_text]="title">
      </jjva-ngx-whatsapp-button>
    </div>
    <div class="social-links mt-2">
      <a href="{{footer_container.footer_twetter}}" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="{{footer_container.footer_facebook}}" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="{{footer_container.footer_insta}}" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="{{footer_container.footer_youtube}}" class="google-plus"><i class="bx bxl-youtube"></i></a>
      <a href="{{footer_container.footer_linkedin}}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
    <div class="copyright">
      {{footer_container.footer_coppyright}}
    </div>
    <div class="credits">

      Designed by <a href="#"></a>
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>
