  <!-- jQuery  -->
  <script src="public/assets/js/jquery.min.js"></script>
  <script src="public/assets/js/bootstrap.bundle.min.js"></script>
  <script src="public/assets/js/metisMenu.min.js"></script>
  <script src="public/assets/js/jquery.slimscroll.js"></script>
  <script src="public/assets/js/waves.min.js"></script>
  <script src="public/assets/js/jquery.validate.min.js"></script>

  <script src="public/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>



  <!-- App js -->


  </body>

  </html>