<footer class="footer">
        © 2021 The Best Fly - <span class="d-none d-sm-inline-block"> Crafted with <i
                        class="mdi mdi-heart text-danger"></i> by Abhimoy Kolay</span>
</footer>