<script src="public/assets/js/jquery.min.js"></script>

<script src="public/assets/js/bootstrap.bundle.min.js"></script>
<script src="public/assets/js/metisMenu.min.js"></script>
<script src="public/assets/js/jquery.slimscroll.js"></script>
<script src="public/assets/js/waves.min.js"></script>
<script src="public/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="public/plugins/devextreme/js/dx.all.js"></script>
<script src="public/plugins/devextreme/js/exceljs.min.js"></script>
<script src="public/plugins/devextreme/js/FileSaver.min.js"></script>
<script src="public/plugins/devextreme/js/jszip.min.js"></script>
<script src="public/plugins/devextreme/js/polyfill.min.js"></script>
<script src="public/plugins/toastr/toastr.js"></script>
<script src="public/assets/js/ss-toastr.js"></script>
<script src="public/assets/js/jquery.validate.min.js"></script>
<script src="public/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
<script src="public/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
<script src="public/resources/comon.js"></script>