  <!-- Top Bar Start -->
  <div class="topbar">

      <!-- LOGO -->
      <div class="topbar-left">
          <a href="/" class="logo">
              <span>
                  <img src="public/assets/images/iam.png" alt="" height="18">
              </span>
              <i>
                  <img src="public/assets/images/iam.png" alt="" height="22">
              </i>
          </a>
      </div>

      <nav class="navbar-custom">
          <ul class="navbar-right d-flex list-inline float-right mb-0">
              <li class="dropdown notification-list d-none d-sm-block">
                  <form role="search" class="app-search">
                      <div class="form-group mb-0">
                          <input type="text" class="form-control" placeholder="Search..">
                          <button type="submit"><i class="fa fa-search"></i></button>
                      </div>
                  </form>
              </li>


              <li class="dropdown notification-list">
                  <div class="dropdown notification-list nav-pro-img">
                      <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown"
                          href="#" role="button" aria-haspopup="false" aria-expanded="false">
                          <img src="public/assets/images/users/user-4.jpg" alt="user" class="rounded-circle">
                      </a>
                      <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                          <!-- item-->

                          <div class="dropdown-divider"></div>
                          <a onclick="logout()" class="dropdown-item text-danger" href="#"><i
                                  class="mdi mdi-power text-danger"></i>
                              Logout</a>
                      </div>
                  </div>
              </li>

          </ul>

          <ul class="list-inline menu-left mb-0">
              <li class="float-left">
                  <button class="button-menu-mobile open-left waves-effect">
                      <i class="mdi mdi-menu"></i>
                  </button>
              </li>

          </ul>

      </nav>

  </div>
  <script>
      function logout() {
          localStorage.removeItem("currentadminuser");
          window.location = 'login'
      }
  </script>
  <!-- Top Bar End -->