     <!-- ========== Left Sidebar Start ========== -->
     <div class="left side-menu">
         <div class="slimscroll-menu" id="remove-scroll">

             <!--- Sidemenu -->
             <div id="sidebar-menu">
                 <!-- Left Menu Start -->
                 <ul class="metismenu" id="side-menu">
                     <li>
                         <a href="/dashboard" class="waves-effect">
                             <i class="mdi mdi-view-dashboard"></i><span
                                 class="badge badge-primary badge-pill float-right">2</span> <span> Dashboard </span>
                         </a>
                     </li>

                     <li>
                         <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi mdi-animation"></i><span>
                                 Pages <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                             </span></a>
                         <ul class="submenu">
                             <li><a href="home-page">Home Page</a></li>
                             <li><a href="aboutus-page">About Us Page</a></li>
                             <li><a href="service-page">Service Page</a></li>
                             <li><a href="header-footer">Header And Footer</a></li>
                             <li><a href="team">Team</a></li>
                             <li><a href="contact">Contact Details</a></li>
                             <li><a href="testimonial">Testimonial</a></li>
                             <li><a href="image-gallery">Image Gallery</a></li>
                             <li><a href="video-gallery">Video Gallery</a></li>
                             <li><a href="user">User and Contacts</a></li>
                         </ul>
                     </li>


                     <!-- 
                     <li class="menu-title">Components</li>

                     <li>
                         <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-buffer"></i> <span> UI
                                 Elements <span class="float-right menu-arrow"><i
                                         class="mdi mdi-chevron-right"></i></span> </span> </a>
                         <ul class="submenu">
                             <li><a href="ui-alerts">Alerts</a></li>
                             <li><a href="ui-buttons">Buttons</a></li>
                             <li><a href="ui-badge">Badge</a></li>
                             <li><a href="ui-cards">Cards</a></li>
                             <li><a href="ui-carousel">Carousel</a></li>
                             <li><a href="ui-dropdowns">Dropdowns</a></li>
                             <li><a href="ui-grid">Grid</a></li>
                             <li><a href="ui-images">Images</a></li>
                             <li><a href="ui-lightbox">Lightbox</a></li>
                             <li><a href="ui-modals">Modals</a></li>
                             <li><a href="ui-pagination">Pagination</a></li>
                             <li><a href="ui-popover-tooltips">Popover & Tooltips</a></li>
                             <li><a href="ui-rangeslider">Range Slider</a></li>
                             <li><a href="ui-session-timeout">Session Timeout</a></li>
                             <li><a href="ui-progressbars">Progress Bars</a></li>
                             <li><a href="ui-sweet-alert">Sweet-Alert</a></li>
                             <li><a href="ui-tabs-accordions">Tabs & Accordions</a></li>
                             <li><a href="ui-typography">Typography</a></li>
                             <li><a href="ui-video">Video</a></li>


                         </ul>
                     </li>

                     <li>
                         <a href="javascript:void(0);" class="waves-effect"><i
                                 class="mdi mdi-clipboard-outline"></i><span> Forms <span
                                     class="badge badge-pill badge-success float-right">6</span> </span></a>
                         <ul class="submenu">
                             <li><a href="form-elements">Form Elements</a></li>
                             <li><a href="form-validation">Form Validation</a></li>
                             <li><a href="form-advanced">Form Advanced</a></li>
                             <li><a href="form-editors">Form Editors</a></li>
                             <li><a href="form-uploads">Form File Upload</a></li>
                             <li><a href="form-xeditable">Form Xeditable</a></li>

                         </ul>
                     </li>

                     <li>
                         <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-chart-line"></i><span>
                                 Charts <span class="float-right menu-arrow"><i
                                         class="mdi mdi-chevron-right"></i></span> </span></a>
                         <ul class="submenu">
                             <li><a href="charts-morris">Morris Chart</a></li>
                             <li><a href="charts-chartist">Chartist Chart</a></li>
                             <li><a href="charts-chartjs">Chartjs Chart</a></li>
                             <li><a href="charts-flot">Flot Chart</a></li>
                             <li><a href="charts-c3">C3 Chart</a></li>
                             <li><a href="charts-other">Jquery Knob Chart</a></li>
                         </ul>
                     </li>

                     <li>
                         <a href="javascript:void(0);" class="waves-effect"><i
                                 class="mdi mdi-format-list-bulleted-type"></i><span> Tables <span
                                     class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                             </span></a>
                         <ul class="submenu">
                             <li><a href="tables-basic">Basic Tables</a></li>
                             <li><a href="tables-datatable">Data Table</a></li>
                             <li><a href="tables-responsive">Responsive Table</a></li>
                             <li><a href="tables-editable">Editable Table</a></li>
                         </ul>
                     </li>

                     <li>
                         <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-album"></i> <span> Icons
                                 <span class="float-right menu-arrow"><i
                                         class="mdi mdi-chevron-right"></i></span></span> </a>
                         <ul class="submenu">
                             <li><a href="icons-material">Material Design</a></li>
                             <li><a href="icons-ion">Ion Icons</a></li>
                             <li><a href="icons-fontawesome">Font Awesome</a></li>
                             <li><a href="icons-themify">Themify Icons</a></li>
                             <li><a href="icons-dripicons">Dripicons</a></li>
                             <li><a href="icons-typicons">Typicons Icons</a></li>
                         </ul>
                     </li>

                     <li>
                         <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-google-maps"></i><span>
                                 Maps <span class="badge badge-pill badge-danger float-right">2</span> </span></a>
                         <ul class="submenu">
                             <li><a href="maps-google"> Google Map</a></li>
                             <li><a href="maps-vector"> Vector Map</a></li>
                         </ul>
                     </li>

                     <li class="menu-title">Extras</li>

                     <li>
                         <a href="javascript:void(0);" class="waves-effect"><i
                                 class="mdi mdi-account-location"></i><span> Authentication <span
                                     class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                             </span></a>
                         <ul class="submenu">
                             <li><a href="pages-login">Login</a></li>
                             <li><a href="pages-register">Register</a></li>
                             <li><a href="pages-recoverpw">Recover Password</a></li>
                             <li><a href="pages-lock-screen">Lock Screen</a></li>
                         </ul>
                     </li>

                     <li>
                         <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-google-pages"></i><span>
                                 Extra Pages <span class="float-right menu-arrow"><i
                                         class="mdi mdi-chevron-right"></i></span> </span></a>
                         <ul class="submenu">
                             <li><a href="pages-timeline">Timeline</a></li>
                             <li><a href="pages-invoice">Invoice</a></li>
                             <li><a href="pages-directory">Directory</a></li>
                             <li><a href="pages-blank">Blank Page</a></li>
                             <li><a href="pages-404">Error 404</a></li>
                             <li><a href="pages-500">Error 500</a></li>
                         </ul>
                     </li> -->

                 </ul>

             </div>
             <!-- Sidebar -->
             <div class="clearfix"></div>

         </div>
         <!-- Sidebar -left -->

     </div>
     <!-- Left Sidebar End -->