<app-loader *ngIf="loadingModal"></app-loader>

<app-breadcrumbs [pageTitle]="'Contact Us'"></app-breadcrumbs>
<!-- ======= Contact Section ======= -->
<section class="contact">
  <div class="container">

    <div class="section-title">
      <h2>{{heading_container.contactHeading}}</h2>
      <p>{{heading_container.contactContent}}</p>
    </div>
  </div>

  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58908.76246842234!2d88.83381831681362!3d22.661331751212376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ff567854e8190f%3A0xf12dc8b635ba902f!2sBasirhat%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1639484225074!5m2!1sen!2sin"
      width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    <!-- <iframe style="border:0; width: 100%; height: 350px;" [src]='contact_map_src' frameborder="0"
        allowfullscreen></iframe> -->
    <!-- <ng-container>{{contact_container.contactMap}}</ng-container> -->
  </div>

  <div class="container mt-5">

    <div class="info-wrap">
      <div class="row">
        <div class="col-lg-3 col-md-6 info">
          <i class="bi bi-geo-alt"></i>
          <h4>Location:</h4>
          <p>{{contact_container.contactAddress}}</p>
        </div>

        <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
          <i class="bi bi-clock"></i>
          <h4>Open Hours:</h4>
          <p>Monday-Saturday:<br>{{contact_container.contactHour}}</p>
        </div>

        <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
          <i class="bi bi-envelope"></i>
          <h4>Email:</h4>
          <p>{{contact_container.conatctEmail}}</p>
        </div>

        <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
          <i class="bi bi-phone"></i>
          <h4>Call:</h4>
          <p>{{contact_container.contcatNumber}}</p>
        </div>
      </div>
    </div>

    <form class="php-email-form">
      <div class="row">
        <div class="col-md-6 form-group">
          <input type="text" name="name" class="form-control" [(ngModel)]="user_fullName"
            [ngModelOptions]="{standalone: true}" placeholder="Your Name" required>
        </div>
        <div class="col-md-6 form-group mt-3 mt-md-0">
          <input type="email" class="form-control" [(ngModel)]="user_email" [ngModelOptions]="{standalone: true}"
            placeholder="Your Email" required>
        </div>
        <div class="col-md-6 form-group mt-3 mt-md-0">
          <input type="text" class="form-control" [(ngModel)]="user_subject" [ngModelOptions]="{standalone: true}"
            placeholder="Subject" required>
        </div>
        <div class="col-md-6 form-group mt-3 mt-md-0">
          <input type="text" class="form-control" [(ngModel)]="user_mobile_number" [ngModelOptions]="{standalone: true}"
            placeholder="Mobile Number" required>
        </div>
      </div>
      <div class="form-group mt-3">
        <textarea class="form-control" [(ngModel)]="user_msg" [ngModelOptions]="{standalone: true}" rows="5"
          placeholder="Message" required></textarea>
      </div>
      <div class="messagetext-success" *ngIf="isSuccess">Your message has been sent. Thank you!</div>
      <div class="message text-dengar" *ngIf="isNotSuccess">Something Went Wrong</div>
      <div class="text-center"><button type="submit" (click)="submitUserFrom()">Send Message</button></div>
    </form>

  </div>
</section><!-- End Contact Section -->
