<app-loader *ngIf="loadingModal"></app-loader>

<app-breadcrumbs [pageTitle]="'About Us'"></app-breadcrumbs>
<section class="about">
  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-5 align-items-stretch video-box">
        <img [src]="about_container.aboutImageUrl" style="width: 100%;">
        <a [href]="about_container.aboutVideoUrl" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"
          target="_blank"></a>
      </div>

      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
        <div class="content" [innerHtml]="about_container.aboutUsContent">
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div [innerHtml]="about_container.aboutusMoreContent"></div>
    </div>
  </div>
</section><!-- End About Section -->
<!-- End About Section -->
