<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <title><%= title %></title>
  <meta content="Admin Dashboard" name="description" />
  <meta content="Themesbrand" name="author" />

  <%- HeaderCss %>
  <% include ./Partials/HeaderStyle  %>

</head>

<body>

  <div id="wrapper">
    <% include ./Partials/Header  %>
    <% include ./Partials/Sidebar  %>
    <div class="content-page">
      <%- body %>
    </div>
    <% include ./Partials/Footer %>
  </div>

  <% include ./Partials/FooterScript  %>
  <script src="public/assets/js/app.js"></script>
  <%- FooterJs %>
  <!-- App js -->


</body>

</html>