/* ============
TABLES OF CSS
---------------

01. General
02. Bootstrap-custom
03. Helper
04. Waves Effect
05. Menu
06. Buttons
07. Cards
08. Email
09. Summernote
10. Alerts
11. Demo Only
12. Pagination
13. Progress
14. Popover - Tooltips
15. Sweet Alerts
16. Tabs
17. Form-elements
18. Form-validation
19. Form-advanced
20. Form-editors
21. Form-upload
22. Calendar
23. Tables
24. Maps
25. Range-slider
26. Session-timeout
27. Charts
28. Widgets
29. TImeline
30. Directory
31. Invoice
32. Account Pages
33. Dashboard Page
34. Responsive


*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");

/* ======
01. General
   ====== */
/* ==============
  General
===================*/
body {
  background-repeat: repeat;
  background: #f5f5f5;
  font-family: "Poppins", sans-serif;
  color: #5b626b;
  font-size: 13px;
}

html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
}

p {
  line-height: 1.7;
}

svg {
  max-width: 100%;
}

a {
  color: #707070;
}

a:hover {
  outline: 0;
  text-decoration: none;
}

a:active {
  outline: 0;
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: none;
}

.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  bottom: 0;
  text-align: center;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  left: 240px;
  background-color: #fafafa;
  -webkit-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.05);
}

#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.slimScrollDiv {
  height: auto !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #7a6fbe;
}

/* Social */
.social-links li a {
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 30px;
}

/* ======
02. Bootstrap-custom
   ====== */
/* ==============
  Bootstrap-custom
===================*/
.dropdown-menu {
  padding: 4px 0;
  font-size: 13px;
  -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  border-color: transparent;
  margin: 0;
}

.dropdown-item {
  background-color: #ffffff;
  padding: .55rem 1.5rem;
}

.dropdown-item:active,
.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #2a3142;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #f8f9fa;
  color: #2a3142;
}

.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #707070;
  content: "\f105" !important;
  font-family: FontAwesome;
}

.bg-primary {
  background-color: #7a6fbe !important;
}

.bg-success {
  background-color: #58db83 !important;
}

.bg-info {
  background-color: #29bbe3 !important;
}

.bg-warning {
  background-color: #f5b225 !important;
}

.bg-danger {
  background-color: #ec536c !important;
}

.bg-muted {
  background-color: #707070 !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.text-white {
  color: #ffffff !important;
}

.text-danger {
  color: #ec536c !important;
}

.text-muted {
  color: #707070 !important;
}

.text-primary {
  color: #7a6fbe !important;
}

.text-warning {
  color: #f5b225 !important;
}

.text-success {
  color: #58db83 !important;
}

.text-info {
  color: #29bbe3 !important;
}

.text-dark {
  color: #2a3142 !important;
}

.badge {
  font-weight: 500;
}

.badge-primary {
  background-color: #7a6fbe;
}

.badge-success {
  background-color: #58db83;
}

.badge-info {
  background-color: #29bbe3;
}

.badge-warning {
  background-color: #f5b225;
  color: white;
}

.badge-danger {
  background-color: #ec536c;
}

.badge-dark {
  background-color: #2a3142;
}

dt {
  font-weight: 500;
}

/* ======
03. Helper
   ====== */
/* ==============
  Helper Classes
===================*/
.p-0 {
  padding: 0;
}

.p-t-10 {
  padding-top: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.m-0 {
  margin: 0;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.w-30 {
  max-width: 30px;
}

.w-xs {
  min-width: 80px;
}

.w-sm {
  min-width: 95px;
}

.w-md {
  min-width: 110px;
}

.w-lg {
  min-width: 140px;
}

.l-h-23 {
  line-height: 23px;
}

.l-h-34 {
  line-height: 34px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-24 {
  font-size: 24px;
}

.font-30 {
  font-size: 30px;
}

.thumb-sm {
  height: 32px;
  width: 32px;
}

.thumb-md {
  height: 48px;
  width: 48px;
}

.thumb-lg {
  height: 88px;
  width: 88px;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.header-title {
  font-size: 16px;
}

/* ======
04. Waves Effect
   ====== */
/* ==============
  Waves Effect
===================*/
/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}

.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2);
}

.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
}

.waves-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

.waves-button {
  padding: 0.85em 1.1em;
  border-radius: 0.2em;
}

.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em;
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper.waves-button {
  padding: 0;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
}

.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.waves-float:active {
  -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
}

.waves-block {
  display: block;
}

/* ======
05. Menu
   ====== */
/* Metis Menu css */
.metismenu {
  padding: 0;
}

.metismenu ul {
  padding: 0;
}

.metismenu ul li {
  list-style: none;
}

.submenu li a {
  padding: 8px 20px 8px 10px;
  color: #8699ad;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.submenu li a:focus {
  background-color: left-bar;
}

.submenu li a:hover {
  background-color: #2b3a4a;
  color: rgba(255, 255, 255, 0.8);
}

.submenu>li>a {
  padding-left: 50px;
}

.submenu li.active>a {
  color: #ffffff;
  background-color: #2b3a4a;
}

.topbar {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.topbar .topbar-left {
  background: #2b3a4a;
  float: left;
  text-align: center;
  height: 70px;
  position: relative;
  width: 240px;
  z-index: 1;
}

.topbar .topbar-left .logo {
  line-height: 70px;
}

.topbar .topbar-left .logo i {
  display: none;
}

.navbar-custom {
  background-color: #ffffff;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0 10px 0 0;
  -webkit-box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
  margin-left: 240px;
  min-height: 70px;
}

.navbar-custom .nav-link {
  padding: 0 4px;
}

.navbar-custom .navbar-right .dropdown-toggle:after {
  content: initial;
}

.logo {
  color: #2a3142 !important;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.logo span span {
  color: #7a6fbe;
}

.side-menu {
  width: 240px;
  z-index: 10;
  background: #2b3a4a;
  bottom: 0;
  margin-top: 0;
  padding-bottom: 30px;
  position: fixed;
  top: 70px;
}

.side-menu .waves-effect .waves-ripple {
  background-color: rgba(43, 58, 74, 0.4);
}

.enlarged .side-menu {
  position: absolute;
}

.content-page {
  margin-left: 240px;
  overflow: hidden;
}

.content-page .content {
  padding: 0 15px 10px 15px;
  margin-top: 70px;
  margin-bottom: 60px;
}

.button-menu-mobile {
  border: none;
  color: #525f80;
  display: inline-block;
  height: 70px;
  width: 60px;
  background-color: #ffffff;
  font-size: 24px;
}

#sidebar-menu>ul>li>a {
  color: #8699ad;
  display: block;
  padding: 13px 20px;
  font-size: 13.3px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#sidebar-menu>ul>li>a:hover,
#sidebar-menu>ul>li>a:focus,
#sidebar-menu>ul>li>a:active {
  color: #ffffff;
  text-decoration: none;
}

#sidebar-menu>ul>li>a>span {
  vertical-align: middle;
  margin-left: 5px;
}

#sidebar-menu {
  padding-top: 10px;
}

#sidebar-menu .badge {
  margin-top: 4px;
}

#sidebar-menu li.active .menu-arrow i {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#sidebar-menu ul li a i {
  display: inline-block;
  font-size: 16px;
  line-height: 17px;
  vertical-align: middle;
  width: 20px;
}

#sidebar-menu>ul>li>a.active {
  color: #ffffff !important;
  background-color: #263442;
}

.menu-title {
  padding: 12px 20px !important;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  color: #b4bfcc;
}

.enlarged .slimScrollDiv {
  overflow: inherit !important;
}

.enlarged .slimScrollBar {
  visibility: hidden;
}

.enlarged #wrapper .navbar-custom {
  margin-left: 70px;
}

.enlarged #wrapper #sidebar-menu .menu-title,
.enlarged #wrapper #sidebar-menu .menu-arrow,
.enlarged #wrapper #sidebar-menu .badge {
  display: none !important;
}

.enlarged #wrapper #sidebar-menu .collapse.in {
  display: none !important;
}

.enlarged #wrapper #sidebar-menu .nav.collapse {
  height: inherit !important;
}

.enlarged #wrapper #sidebar-menu ul ul {
  margin-top: -2px;
  padding-bottom: 5px;
  padding-top: 5px;
  z-index: 9999;
  background-color: #2b3a4a;
}

.enlarged #wrapper .left.side-menu {
  width: 70px;
  z-index: 5;
}

.enlarged #wrapper .left.side-menu #sidebar-menu>ul>li>a {
  padding: 15px 20px;
  min-height: 56px;
}

.enlarged #wrapper .left.side-menu #sidebar-menu>ul>li>a:hover,
.enlarged #wrapper .left.side-menu #sidebar-menu>ul>li>a:active,
.enlarged #wrapper .left.side-menu #sidebar-menu>ul>li>a:focus {
  color: #ffffff !important;
  background-color: #263442;
}

.enlarged #wrapper .left.side-menu #sidebar-menu>ul>li>a i {
  font-size: 24px;
  margin-right: 20px !important;
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li {
  position: relative;
  white-space: nowrap;
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li:hover>a {
  position: relative;
  width: 260px;
  color: #7a6fbe !important;
  background-color: #263442;
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li:hover>ul {
  display: block;
  left: 70px;
  position: absolute;
  width: 190px;
  height: auto !important;
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li:hover>ul a {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 8px 20px;
  position: relative;
  width: 190px;
  z-index: 6;
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li:hover>ul a:hover {
  color: #ffffff;
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li:hover a span {
  display: inline;
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul ul li:hover>ul {
  display: block;
  left: 190px;
  margin-top: -36px;
  position: absolute;
  width: 190px;
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul ul li>a span.float-right {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  position: absolute;
  right: 20px;
  top: 12px;
  transform: rotate(270deg);
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul ul li.active a {
  color: #ffffff;
}

.enlarged #wrapper .left.side-menu #sidebar-menu ul>li>a span {
  display: none;
  padding-left: 10px;
}

.enlarged #wrapper .left.side-menu .user-details {
  display: none;
}

.enlarged #wrapper .content-page {
  margin-left: 70px;
}

.enlarged #wrapper .footer {
  left: 70px;
}

.enlarged #wrapper .topbar .topbar-left {
  width: 70px !important;
}

.enlarged #wrapper .topbar .topbar-left .logo span {
  display: none;
  opacity: 0;
}

.enlarged #wrapper .topbar .topbar-left .logo i {
  display: block;
  line-height: 70px;
  color: #7a6fbe !important;
}

.enlarged #wrapper #sidebar-menu>ul>li:hover>a.open :after {
  display: none;
}

.enlarged #wrapper #sidebar-menu>ul>li:hover>a.active :after {
  display: none;
}

/* Footer */
.footer {
  border-top: 1px solid rgba(112, 112, 112, 0.2);
  bottom: 0;
  text-align: center !important;
  padding: 19px 30px 20px;
  position: absolute;
  right: 0;
  left: 240px;
  color: #707070;
}

/* Notification */
.notification-item-list {
  max-height: 230px;
}

.notification-list .noti-icon {
  font-size: 20px;
  vertical-align: middle;
  color: #2a3142;
}

.notification-list .noti-icon-badge {
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 9px;
}

.notification-list .notify-item {
  padding: 10px 20px;
}

.notification-list .notify-item .notify-icon {
  float: left;
  height: 36px;
  width: 36px;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
  color: #2a3142;
}

.notification-list .notify-item .notify-icon i {
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  border-radius: 50%;
  line-height: 30px;
  margin-top: 2px;
}

.notification-list .notify-item .notify-details {
  margin-bottom: 0;
  overflow: hidden;
  margin-left: 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
}

.notification-list .notify-item .notify-details span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 12px;
  font-weight: normal;
}

.notification-list .profile-dropdown .notify-item {
  padding: 4px 20px;
}

.notification-list .nav-link {
  padding: 0 15px;
  line-height: 70px;
}

.profile-dropdown {
  width: 170px;
}

.profile-dropdown i {
  font-size: 17px;
  vertical-align: middle;
  margin-right: 5px;
  color: #adb5bd;
}

.profile-dropdown span {
  vertical-align: middle;
}

.nav-user img {
  height: 36px;
  width: 36px;
}

.arrow-none:after {
  border: none;
  margin: 0;
  display: none;
}

.dropdown-menu-lg {
  width: 300px;
}

.app-search {
  margin-top: 18px;
  position: relative;
}

.app-search .form-control,
.app-search .form-control:focus {
  border: 1px solid #e9ecef;
  font-size: 13px;
  height: 34px;
  padding-left: 18px;
  padding-right: 40px;
  margin-right: 20px;
  background: #f8f9fa;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 30px;
  width: 200px;
}

.app-search button {
  position: absolute;
  top: 8px;
  right: 30px;
  display: block;
  color: #707070;
  font-size: 11px;
  border: none;
  background-color: transparent;
}

.nav-user img {
  margin-top: -3px;
}

.page-title-box {
  padding: 20px 0px;
}

.page-title-box .page-title {
  font-size: 18px;
  margin: 0;
  line-height: 30px;
}

.page-title-box .breadcrumb {
  padding: 4px 0;
  background-color: transparent;
  margin-bottom: 0;
}

.page-title-box .breadcrumb a {
  color: #2a3142;
}

.page-title-box .breadcrumb a:hover {
  color: rgba(42, 49, 66, 0.9);
}

.page-title-box .breadcrumb .active {
  color: rgba(42, 49, 66, 0.7);
}

.page-title-box .state-information {
  position: absolute;
  right: 20px;
  top: 20px;
}

.page-title-box .state-information .state-graph {
  float: right;
  margin-left: 40px;
  text-align: center;
}

.page-title-box .state-information .state-graph .info {
  font-size: 12px;
  margin-top: 5px;
}

/* ======
06. Buttons
   ====== */
/* ==============
  Buttons
===================*/
.btn {
  border-radius: 3px;
  font-size: 13px;
}

button:focus {
  outline: none;
}

.btn-sm {
  font-size: 10.83333px;
}

.btn-lg {
  font-size: 15.6px;
}

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-dark,
.btn-pink,
.btn-purple,
.btn-indigo,
.btn-teal,
.btn-lime,
.btn-orange,
.btn-brown,
.btn-blue-grey {
  color: #ffffff;
}

.btn-primary {
  background-color: #7a6fbe;
  border: 1px solid #7a6fbe;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary,
.btn-outline-primary.active,
.btn-outline-primary:active,
.show>.btn-outline-primary.dropdown-toggle,
.btn-outline-primary:hover,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background-color: #6a5db6;
  border: 1px solid #6a5db6;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-outline-primary.focus,
.btn-outline-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(122, 111, 190, 0.3);
  box-shadow: 0 0 0 2px rgba(122, 111, 190, 0.3);
}

.btn-secondary.focus,
.btn-secondary:focus,
.btn-outline-secondary.focus,
.btn-outline-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(42, 49, 66, 0.3);
  box-shadow: 0 0 0 2px rgba(42, 49, 66, 0.3);
}

.btn-success {
  background-color: #58db83;
  border: 1px solid #58db83;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open>.dropdown-toggle.btn-success,
.btn-outline-success.active,
.btn-outline-success:active,
.show>.btn-outline-success.dropdown-toggle,
.btn-outline-success:hover,
.btn-success.active,
.btn-success:active,
.show>.btn-success.dropdown-toggle,
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
  background-color: #43d673;
  border: 1px solid #43d673;
}

.btn-success.focus,
.btn-success:focus,
.btn-outline-success.focus,
.btn-outline-success:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(88, 219, 131, 0.3);
  box-shadow: 0 0 0 2px rgba(88, 219, 131, 0.3);
}

.btn-info {
  background-color: #29bbe3;
  border: 1px solid #29bbe3;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open>.dropdown-toggle.btn-info,
.btn-outline-info.active,
.btn-outline-info:active,
.show>.btn-outline-info.dropdown-toggle,
.btn-outline-info:hover,
.btn-info.active,
.btn-info:active,
.show>.btn-info.dropdown-toggle,
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show>.btn-info.dropdown-toggle {
  background-color: #1caed6;
  border: 1px solid #1caed6;
}

.btn-info.focus,
.btn-info:focus,
.btn-outline-info.focus,
.btn-outline-info:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show>.btn-info.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(41, 187, 227, 0.3);
  box-shadow: 0 0 0 2px rgba(41, 187, 227, 0.3);
}

.btn-warning {
  background-color: #f5b225;
  border: 1px solid #f5b225;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open>.dropdown-toggle.btn-warning,
.btn-outline-warning.active,
.btn-outline-warning:active,
.show>.btn-outline-warning.dropdown-toggle,
.btn-outline-warning:hover,
.btn-warning.active,
.btn-warning:active,
.show>.btn-warning.dropdown-toggle,
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show>.btn-warning.dropdown-toggle {
  background-color: #f4a90d;
  border: 1px solid #f4a90d;
  color: #ffffff;
}

.btn-warning.focus,
.btn-warning:focus,
.btn-outline-warning.focus,
.btn-outline-warning:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show>.btn-warning.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(245, 178, 37, 0.3);
  box-shadow: 0 0 0 2px rgba(245, 178, 37, 0.3);
}

.btn-danger {
  background-color: #ec536c;
  border: 1px solid #ec536c;
}

.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.btn-danger.active,
.btn-danger.focus,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open>.dropdown-toggle.btn-danger,
.btn-outline-danger.active,
.btn-outline-danger:active,
.show>.btn-outline-danger.dropdown-toggle,
.btn-outline-danger:hover,
.btn-danger.active,
.btn-danger:active,
.show>.btn-danger.dropdown-toggle,
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show>.btn-danger.dropdown-toggle {
  background-color: #e93c58;
  border: 1px solid #e93c58;
}

.btn-danger.focus,
.btn-danger:focus,
.btn-outline-danger.focus,
.btn-outline-danger:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-danger.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(236, 83, 108, 0.3);
  box-shadow: 0 0 0 2px rgba(236, 83, 108, 0.3);
}

.btn-dark {
  background-color: #2a3142;
  border: 1px solid #2a3142;
  color: #ffffff;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.btn-dark.focus,
.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover,
.open>.dropdown-toggle.btn-dark,
.btn-outline-dark.active,
.btn-outline-dark:active,
.show>.btn-outline-dark.dropdown-toggle,
.btn-outline-dark:hover {
  background-color: #202532;
  border: 1px solid #202532;
  color: #ffffff;
}

.btn-dark.focus,
.btn-dark:focus,
.btn-outline-dark.focus,
.btn-outline-dark:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(42, 49, 66, 0.3);
  box-shadow: 0 0 0 2px rgba(42, 49, 66, 0.3);
}

.btn-link {
  color: #2a3142;
}

.btn-link:hover {
  color: #7a6fbe;
}

/* button Outline */
.btn-outline-primary {
  color: #7a6fbe;
  border-color: #7a6fbe;
}

.btn-outline-success {
  color: #58db83;
  border-color: #58db83;
}

.btn-outline-info {
  color: #29bbe3;
  border-color: #29bbe3;
}

.btn-outline-warning {
  color: #f5b225;
  border-color: #f5b225;
}

.btn-outline-danger {
  color: #ec536c;
  border-color: #ec536c;
}

.btn-outline-dark {
  color: #2a3142;
  background-image: none;
  background-color: transparent;
  border-color: #2a3142;
}

/* ======
07. Cards
   ====== */
.card {
  border: none;
  -webkit-box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-gap: 30px;
    column-gap: 30px;
  }
}

.card-columns .card {
  margin-bottom: 30px;
}

/* ======
08. Email
   ====== */
/* ==============
  Email
===================*/
.email-leftbar {
  width: 230px;
  float: left;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

.email-rightbar {
  margin-left: 260px;
}

.chat-user-box p.user-title {
  font-size: 13px;
  color: #2a3142;
  font-weight: 500;
}

.chat-user-box p {
  font-size: 12px;
}

@media (max-width: 767px) {
  .email-leftbar {
    float: none;
    width: 100%;
  }

  .email-rightbar {
    margin: 0;
  }
}

.mail-list a {
  display: block;
  color: #343d52;
  font-size: 13px;
  line-height: 24px;
  padding: 5px;
}

.mail-list a.active {
  color: #ec536c;
  font-weight: 600;
}

.message-list {
  display: block;
  padding-left: 0;
}

.message-list li {
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  cursor: default;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.message-list li a {
  color: #707070;
}

.message-list li:hover {
  background: rgba(112, 112, 112, 0.08);
  -webkit-transition-duration: .05s;
  transition-duration: .05s;
}

.message-list li .col-mail {
  float: left;
  position: relative;
}

.message-list li .col-mail-1 {
  width: 320px;
}

.message-list li .col-mail-1 .star-toggle,
.message-list li .col-mail-1 .checkbox-wrapper-mail,
.message-list li .col-mail-1 .dot {
  display: block;
  float: left;
}

.message-list li .col-mail-1 .dot {
  border: 4px solid transparent;
  border-radius: 100px;
  margin: 22px 26px 0;
  height: 0;
  width: 0;
  line-height: 0;
  font-size: 0;
}

.message-list li .col-mail-1 .checkbox-wrapper-mail {
  margin: 15px 10px 0 20px;
}

.message-list li .col-mail-1 .star-toggle {
  margin-top: 18px;
  font-size: 13px;
  margin-left: 5px;
}

.message-list li .col-mail-1 .title {
  position: absolute;
  top: 14px;
  left: 110px;
  right: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0;
}

.message-list li .col-mail-2 {
  position: absolute;
  top: 0;
  left: 320px;
  right: 0;
  bottom: 0;
}

.message-list li .col-mail-2 .subject,
.message-list li .col-mail-2 .date {
  position: absolute;
  top: 0;
}

.message-list li .col-mail-2 .subject {
  left: 0;
  right: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.message-list li .col-mail-2 .date {
  right: 0;
  width: 170px;
  padding-left: 80px;
}

.message-list li.active,
.message-list li.active:hover {
  -webkit-box-shadow: inset 3px 0 0 #7a6fbe;
  box-shadow: inset 3px 0 0 #7a6fbe;
}

.message-list li.unread {
  background-color: #f7f7f7;
  font-weight: 600;
}

.message-list li.unread a {
  color: #202532;
  font-weight: 500;
}

.message-list .checkbox-wrapper-mail {
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: inset 0 0 0 1px #dee2e6;
  box-shadow: inset 0 0 0 1px #dee2e6;
  border-radius: 1px;
}

.message-list .checkbox-wrapper-mail input {
  opacity: 0;
  cursor: pointer;
}

.message-list .checkbox-wrapper-mail input:checked~label {
  opacity: 1;
}

.message-list .checkbox-wrapper-mail label {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 0;
  cursor: pointer;
  opacity: 0;
  margin-bottom: 0;
  -webkit-transition-duration: .05s;
  transition-duration: .05s;
  top: 0;
}

.message-list .checkbox-wrapper-mail label:before {
  content: "\F12C";
  font-family: "Material Design Icons";
  top: 0;
  height: 20px;
  color: #202532;
  width: 20px;
  position: absolute;
  margin-top: -16px;
  left: 4px;
  font-size: 13px;
}

/* ======
09. Summernote
   ====== */
/* ==============
  Summernote
===================*/
.note-btn-group .dropdown-menu>li>a {
  display: block;
  padding: 5px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.note-btn-group .dropdown-menu>li>a:hover {
  background-color: #e4e7ea;
}

.note-image-popover,
.note-air-popover,
.note-link-popover {
  display: none;
}

.note-image-popover .dropdown-toggle::after,
.note-air-popover .dropdown-toggle::after,
.note-link-popover .dropdown-toggle::after {
  margin-left: 0;
}

.note-icon-caret {
  display: none;
}

.note-editor {
  position: relative;
}

.note-editor .btn-default {
  background-color: transparent;
  border-color: transparent;
}

.note-editor .btn-group-sm>.btn,
.note-editor .btn-sm {
  padding: 8px 12px;
}

.note-editor .note-toolbar {
  background: #edeff1;
  border-bottom: 1px solid #e9ecef;
  margin: 0;
}

.note-editor .note-statusbar {
  background-color: #ffffff;
}

.note-editor .note-statusbar .note-resizebar {
  border-top: none;
  height: 15px;
  padding-top: 3px;
}

.note-editor.note-frame {
  border: 1px solid #e9ecef;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.note-popover .popover .popover-content {
  padding: 5px 0 10px 5px;
}

.note-popover .btn-default {
  background-color: transparent;
  border-color: transparent;
}

.note-popover .btn-group-sm>.btn,
.note-popover .btn-sm {
  padding: 8px 12px;
}

.note-toolbar {
  padding: 5px 0 10px 5px;
}

/* ======
10. Alerts
   ====== */
/* =============
   Alerts
============= */
.alert {
  position: relative;
  border: 0;
}

.alert .alert-link {
  font-weight: 600;
}

.alert-success {
  color: #58db83;
  background-color: #d6f6e0;
}

.alert-success .alert-link {
  color: #2ed264;
}

.alert-success hr {
  border-top-color: #2ed264;
}

.alert-info {
  color: #29bbe3;
  background-color: #c7edf8;
}

.alert-info .alert-link {
  color: #199cc0;
}

.alert-info hr {
  border-top-color: #199cc0;
}

.alert-warning {
  color: #f5b225;
  background-color: #fce9c1;
}

.alert-warning .alert-link {
  color: #dd990a;
}

.alert-warning hr {
  border-top-color: #dd990a;
}

.alert-danger {
  color: #ec536c;
  background-color: #fbdde2;
}

.alert-danger .alert-link {
  color: #e72545;
}

.alert-danger hr {
  border-top-color: #e72545;
}

/* ======
11. Demo Only
   ====== */
/* ==============
 Demo Only css
===================*/
.button-items {
  margin-bottom: -8px;
}

.button-items .btn {
  margin-bottom: 8px;
  margin-right: 5px;
}

.bs-example-modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}

.icon-demo-content {
  text-align: center;
  color: #707070;
}

.icon-demo-content i {
  display: block;
  font-size: 28px;
  margin-bottom: 5px;
}

.icon-demo-content .col-md-4 {
  margin-bottom: 30px;
}

.icon-demo-content .col-md-4:hover i {
  color: #7a6fbe;
}

.blockquote {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-left: 4px solid #e9ecef;
}

.blockquote-reverse {
  border-left: 0;
  border-right: 4px solid #e9ecef;
  text-align: right;
}

/* ======
12. Pagination
   ====== */
/* ==============
  Pagination
===================*/
.page-link {
  color: #7a6fbe;
}

.page-item.active .page-link {
  background-color: #7a6fbe;
  border-color: #7a6fbe;
}

.page-link:focus,
.page-link:hover {
  color: #2a3142;
  background-color: #e9ecef;
}

/* ======
13. Progress
   ====== */
.progress {
  height: 10px;
}

.progress-bar {
  background-color: #7a6fbe;
}

/* ======
14. Popover - Tooltips
   ====== */
/* ==============
  Popover & Tooltips
===================*/
.popover-header {
  margin-top: 0;
}

.tooltip .tooltip-inner {
  padding: 4px 10px;
}

/* ======
15. Sweet Alerts
   ====== */
/* =========== */
/* Sweet Alert */
/* =========== */
.swal2-modal {
  font-family: inherit;
}

.swal2-modal .swal2-title {
  font-size: 28px;
}

.swal2-modal .swal2-content {
  font-size: 16px;
}

.swal2-modal .swal2-spacer {
  margin: 10px 0;
}

.swal2-modal .swal2-file,
.swal2-modal .swal2-input,
.swal2-modal .swal2-textarea {
  border: 2px solid #707070;
  font-size: 16px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.swal2-modal .swal2-styled {
  border: inherit;
}

.swal2-modal .swal2-image {
  height: 30px;
}

.swal2-icon.swal2-question {
  color: #7a6fbe;
  border-color: #7a6fbe;
}

.swal2-icon.swal2-success {
  border-color: #58db83;
}

.swal2-icon.swal2-success .line {
  background-color: #58db83;
}

.swal2-icon.swal2-success .placeholder {
  border-color: #58db83;
}

.swal2-icon.swal2-warning {
  color: #f5b225;
  border-color: #f5b225;
}

.swal2-icon.swal2-error {
  border-color: #ec536c;
}

.swal2-icon.swal2-error .line {
  background-color: #ec536c;
}

.swal2-modal .swal2-file:focus,
.swal2-modal .swal2-input:focus,
.swal2-modal .swal2-textarea:focus {
  outline: 0;
  border: 2px solid #7a6fbe;
}

/* ======
16. Tabs
   ====== */
/* =============
   Tabs & Accordions
============= */
.nav-tabs .nav-link,
.nav-pills .nav-link {
  color: #2a3142;
  font-weight: 500;
}

.nav-tabs-custom {
  border-bottom: 2px solid #DDD;
}

.nav-tabs-custom .nav-item {
  position: relative;
}

.nav-tabs-custom .nav-item .nav-link {
  border: none !important;
  font-weight: 500;
}

.nav-tabs-custom>li>a {
  color: #2a3142;
}

.nav-tabs-custom>li>a::after {
  content: "";
  background: #7a6fbe;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  -webkit-transition: all 250ms ease 0s;
  transition: all 250ms ease 0s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.nav-tabs-custom>li>a.active::after,
.nav-tabs-custom>li:hover>a::after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.nav-tabs-custom>li>a.active {
  color: #7a6fbe !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background: #7a6fbe;
}

#accordion .card-header {
  border-bottom: 1px solid rgba(42, 49, 66, 0.05);
}

/* ======
17. Form-elements
   ====== */
/* ==============
  Form-elements
===================*/
label {
  font-weight: 500;
}

.form-control {
  font-size: 13px;
}

.form-control:focus {
  border-color: #7a6fbe;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control-sm {
  font-size: .875rem;
}

.custom-select-sm {
  font-size: 75%;
}

.custom-control-input:checked~.custom-control-indicator {
  background-color: #7a6fbe;
}

.custom-control-input:focus~.custom-control-indicator {
  -webkit-box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #7a6fbe;
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #7a6fbe;
}

.has-success .form-control {
  border-color: #58db83;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.has-warning .form-control {
  border-color: #f5b225;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.has-error .form-control {
  border-color: #ec536c;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-group-addon {
  border-radius: 2px;
  border: 1px solid #f8f9fa;
}

/* ======
18. Form-validation
   ====== */
/* ==============
  Form-Validation
===================*/
.error {
  color: #ff0000;
}

.parsley-error {
  border-color: #ec536c;
}

.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}

.parsley-errors-list.filled {
  display: block;
}

.parsley-errors-list>li {
  font-size: 12px;
  list-style: none;
  color: #ec536c;
  margin-top: 5px;
}

/* ======
19. Form-advanced
   ====== */
/* ==============
  Form-Advanced
===================*/
/* Datepicker */
.datepicker {
  border: 1px solid #f8f9fa;
  padding: 8px;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover,
.datepicker table tr td.selected,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected:hover {
  background-color: #7a6fbe !important;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
}

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>td {
  padding: 5px;
}

/* Bootstrap-touchSpin */
.bootstrap-touchspin .input-group-btn-vertical .btn {
  padding: 9px 12px;
}

.bootstrap-touchspin .input-group-btn-vertical i {
  top: 4px;
  left: 8px;
}

/* Color Picker */
.colorpicker-visible {
  visibility: visible;
  opacity: 1;
  display: block;
  margin-top: 0;
}

.datepicker-dropdown.dropdown-menu {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}

.colorpicker-selectors i {
  margin-top: 5px;
  margin-left: 5px;
}

.colorpicker-2x .colorpicker-saturation {
  width: 200px;
  height: 200px;
}

.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
  width: 30px;
  height: 200px;
}

.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div {
  height: 30px;
}

/* Select 2 */
.select2-container {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  border: 1px solid #E3E3E3;
  height: 38px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
  padding-left: 12px;
}

.select2-container .select2-selection--single .select2-selection__arrow {
  height: 34px;
  width: 34px;
  right: 3px;
}

.select2-container .select2-selection--single .select2-selection__arrow b {
  border-color: #999 transparent transparent transparent;
  border-width: 6px 6px 0 6px;
}

.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #999 transparent;
  border-width: 0 6px 6px 6px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #7a6fbe;
}

.select2-results__option {
  padding: 6px 12px;
}

.select2-dropdown {
  border: 1px solid #e3e3e3;
  padding-top: 5px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.select2-search input {
  border: 1px solid #e3e3e3;
}

.select2-container .select2-selection--multiple {
  min-height: 38px;
  border: 1px solid #e3e3e3;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  padding: 2px 10px;
}

.select2-container .select2-selection--multiple .select2-search__field {
  margin-top: 7px;
  border: 0;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 1px;
  padding: 0 7px;
}

/* CSS Switch */
input[switch] {
  display: none;
}

input[switch]+label {
  font-size: 1em;
  line-height: 1;
  width: 56px;
  height: 24px;
  background-color: #dee2e6;
  background-image: none;
  border-radius: 2rem;
  padding: 0.16667rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  position: relative;
  font-weight: 500;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

input[switch]+label:before {
  color: #2a3142;
  content: attr(data-off-label);
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  position: absolute;
  right: 1px;
  margin: 3px;
  top: -2px;
  text-align: center;
  min-width: 1.66667rem;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

input[switch]+label:after {
  content: '';
  position: absolute;
  left: 3px;
  background-color: #e9ecef;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2rem;
  height: 20px;
  width: 20px;
  top: 2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

input[switch]:checked+label {
  background-color: #7a6fbe;
}

input[switch]:checked+label:before {
  color: #ffffff;
  content: attr(data-on-label);
  right: auto;
  left: 3px;
}

input[switch]:checked+label:after {
  left: 33px;
  background-color: #e9ecef;
}

input[switch="bool"]+label {
  background-color: #ec536c;
}

input[switch="bool"]+label:before,
input[switch="bool"]:checked+label:before,
input[switch="default"]:checked+label:before {
  color: #ffffff;
}

input[switch="bool"]:checked+label {
  background-color: #58db83;
}

input[switch="default"]:checked+label {
  background-color: #a2a2a2;
}

input[switch="primary"]:checked+label {
  background-color: #7a6fbe;
}

input[switch="success"]:checked+label {
  background-color: #58db83;
}

input[switch="info"]:checked+label {
  background-color: #29bbe3;
}

input[switch="warning"]:checked+label {
  background-color: #f5b225;
}

input[switch="danger"]:checked+label {
  background-color: #ec536c;
}

input[switch="dark"]:checked+label {
  background-color: #2a3142;
}

/* Bootstrap filestyle */
.icon-span-filestyle {
  padding-right: 5px;
}

.bootstrap-filestyle label {
  margin-bottom: 0;
}

.group-span-filestyle .badge {
  background-color: #2a3142;
}

/* Bootstrap Touchspin */
.bootstrap-touchspin .input-group-addon {
  padding: .5rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #2a3142;
  text-align: center;
  background-color: #e9ecef;
  border: 1px solid rgba(42, 49, 66, 0.15);
}

.bootstrap-touchspin .input-group-btn:not(:first-child)>.btn,
.bootstrap-touchspin .input-group-btn:not(:first-child)>.btn-group {
  z-index: 2;
  margin-left: -1px;
}

.bootstrap-touchspin .input-group .form-control:not(:first-child),
.bootstrap-touchspin .input-group-addon:not(:first-child),
.bootstrap-touchspin .input-group-btn:not(:first-child)>.btn,
.bootstrap-touchspin .input-group-btn:not(:first-child)>.btn-group>.btn,
.bootstrap-touchspin .input-group-btn:not(:first-child)>.dropdown-toggle,
.bootstrap-touchspin .input-group-btn:not(:last-child)>.btn-group:not(:first-child)>.btn,
.bootstrap-touchspin .input-group-btn:not(:last-child)>.btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.bootstrap-touchspin .input-group .form-control:not(:last-child),
.bootstrap-touchspin .input-group-addon:not(:last-child),
.bootstrap-touchspin .input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn,
.bootstrap-touchspin .input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle),
.bootstrap-touchspin .input-group-btn:not(:last-child)>.btn,
.bootstrap-touchspin .input-group-btn:not(:last-child)>.btn-group>.btn,
.bootstrap-touchspin .input-group-btn:not(:last-child)>.dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.bootstrap-touchspin .btn {
  font-size: 16px;
}

/* Prism editor */
:not(pre)>code[class*="language-"],
pre[class*="language-"] {
  background: #f8f9fa;
}

/* ======
20. Form-editors
   ====== */
/* ==============
  Form Editor
===================*/
.mce-panel {
  border-color: #cfd5db !important;
  background-color: #f8f9fa !important;
}

.mce-menu-item:hover,
.mce-menu-item.mce-selected,
.mce-menu-item:focus {
  background-color: #7a6fbe !important;
}

.mce-menu {
  background-color: #ffffff !important;
}

/* ======
21. Form-upload
   ====== */
/* ==============
  Form-Upload
===================*/
/* Dropzone */
.dropzone {
  min-height: 230px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  background: #ffffff;
  border-radius: 6px;
}

.dropzone .dz-message {
  font-size: 30px;
}

/* ======
22. Calendar
   ====== */
/* ==============
  Calendar
===================*/
.calendar {
  float: left;
  margin-bottom: 0;
}

.none-border .modal-footer {
  border-top: none;
}

.fc-toolbar {
  margin-bottom: 5px;
}

.fc-toolbar h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.fc-day {
  background: #ffffff;
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar button:focus,
.fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0;
}

.fc-widget-header {
  border: 1px solid #d5d5d5;
  background-color: #f8f9fa;
}

.fc-widget-content {
  border: 1px solid #d5d5d5;
}

.fc th.fc-widget-header {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
  font-weight: 500;
  text-transform: uppercase;
}

.fc-button {
  background: #ffffff;
  border: 1px solid #d5d5d5;
  color: #555555;
  text-transform: capitalize;
  outline: none;
}

.fc-state-active,
.fc-state-down {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #7a6fbe;
  border-color: #7a6fbe;
  color: #ffffff;
}

.fc-text-arrow {
  font-family: arial;
  font-size: 16px;
}

.fc-state-hover {
  background: #e9ecef;
}

.fc-state-highlight {
  background: #f0f0f0;
}

.fc-cell-overlay {
  background: #f0f0f0;
}

.fc-unthemed .fc-today {
  background: #ffffff;
}

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 13px;
  margin: 5px 0;
  padding: 5px 5px;
  text-align: center;
  background-color: #7a6fbe;
  color: #ffffff !important;
}

.fc-event .fc-time {
  font-weight: 500;
}

.external-event {
  color: #ffffff;
  cursor: move;
  margin: 10px 0;
  padding: 6px 10px;
}

.fc-basic-view td.fc-week-number span {
  padding-right: 5px;
}

.fc-basic-view td.fc-day-number {
  padding-right: 5px;
}

/* ======
23. Tables
   ====== */
/* ==============
  Tables
===================*/
th {
  font-weight: 500;
}

.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>thead>tr>td {
  padding: 15px 12px;
}

.table-hover tbody tr:hover,
.table-striped tbody tr:nth-of-type(odd),
.thead-default th {
  background-color: #f8f9fa;
}

.table td,
.table th {
  vertical-align: middle;
}

.table-vertical td {
  vertical-align: middle;
}

/* == Responsive Table ==*/
table.focus-on tbody tr.focused th {
  background-color: #7a6fbe;
  color: #ffffff;
}

table.focus-on tbody tr.focused td {
  background-color: #7a6fbe;
  color: #ffffff;
}

.table-rep-plugin .btn-toolbar {
  display: block;
}

.table-rep-plugin .table-responsive {
  border: none !important;
}

.table-rep-plugin .btn-group.float-right .dropdown-menu {
  left: auto;
  right: 0;
}

.table-rep-plugin tbody th {
  font-size: 14px;
  font-weight: normal;
}

.table-rep-plugin .checkbox-row {
  padding-left: 40px;
}

.table-rep-plugin .checkbox-row label {
  display: inline-block;
  padding-left: 5px;
  position: relative;
}

.table-rep-plugin .checkbox-row label::before {
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #dee2e6;
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 17px;
  outline: none !important;
}

.table-rep-plugin .checkbox-row label::after {
  color: #e9ecef;
  display: inline-block;
  font-size: 11px;
  height: 16px;
  left: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  position: absolute;
  top: -1px;
  width: 16px;
}

.table-rep-plugin .checkbox-row input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}

.table-rep-plugin .checkbox-row input[type="checkbox"]:disabled+label {
  opacity: 0.65;
}

.table-rep-plugin .checkbox-row input[type="checkbox"]:focus+label::before {
  outline-offset: -2px;
  outline: none;
}

.table-rep-plugin .checkbox-row input[type="checkbox"]:checked+label::after {
  content: "\f00c";
  font-family: 'FontAwesome';
}

.table-rep-plugin .checkbox-row input[type="checkbox"]:disabled+label::before {
  background-color: #f8f9fa;
  cursor: not-allowed;
}

.table-rep-plugin .checkbox-row input[type="checkbox"]:checked+label::before {
  background-color: #7a6fbe;
  border-color: #7a6fbe;
}

.table-rep-plugin .checkbox-row input[type="checkbox"]:checked+label::after {
  color: #ffffff;
}

.table-rep-plugin .sticky-table-header.fixed-solution {
  top: 70px !important;
}

@media (max-width: 768px) {
  .table-rep-plugin .sticky-table-header {
    top: 145px !important;
  }
}

/* ======
24. Maps
   ====== */
/* ==============
  Maps
===================*/
.gmaps,
.gmaps-panaroma {
  height: 300px;
  background: #f8f9fa;
  border-radius: 3px;
}

.gmaps-overlay {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
  background: #7a6fbe;
  border-radius: 4px;
  padding: 10px 20px;
}

.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}

.gmaps-overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #7a6fbe;
}

.gmaps-overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #7a6fbe;
}

.vector-map-height {
  height: 400px;
}

.jvectormap-zoomin,
.jvectormap-zoomout {
  display: none;
}

/* ======
25. Range-slider
   ====== */
/* ==============
  Range slider
===================*/
.irs-from,
.irs-to,
.irs-single {
  background: #7a6fbe;
}

.irs-from:after,
.irs-to:after,
.irs-single:after {
  border-top-color: #7a6fbe;
}

/* ======
26. Session-timeout
   ====== */
/* ==============
  Session Timeout
===================*/
#session-timeout-dialog .modal-title {
  margin-top: 0;
}

#session-timeout-dialog .close {
  display: none;
}

#session-timeout-dialog .btn-default {
  background-color: #ffffff;
  color: #ec536c;
}

#session-timeout-dialog .countdown-holder {
  color: #ec536c;
  font-weight: 700;
}

/* ======
27. Charts
   ====== */
/* ==============
  Charts
===================*/
.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.chart.chart-widget-pie {
  margin-top: 5px;
  margin-bottom: 5px;
}

.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}

.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}

/* Morris chart */
.morris-charts text {
  font-family: "Poppins", sans-serif !important;
}

.morris-chart-height {
  height: 300px;
}

.morris-hover.morris-default-style {
  border-radius: 5px;
  padding: 10px 12px;
  background: #ffffff;
  border: none;
  -webkit-box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14);
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14);
}

.morris-hover.morris-default-style .morris-hover-point {
  font-weight: 500;
  font-size: 13px;
  color: #2a3142 !important;
  font-family: "Poppins", sans-serif;
}

.morris-hover.morris-default-style .morris-hover-row-label {
  background-color: #2a3142;
  color: #ffffff;
  padding: 4px;
  border-radius: 5px 5px 0 0;
  margin: -10px -12px 10px;
  font-family: "Poppins", sans-serif;
}

/* Flot chart */
.flot-chart-height {
  height: 320px;
}

#flotTip {
  padding: 8px 12px;
  background-color: #ffffff;
  z-index: 100;
  color: #2a3142;
  -webkit-box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14);
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14);
  border-radius: 1px;
}

/* Chartist chart */
.ct-golden-section:before {
  float: none;
}

.ct-chart {
  height: 300px;
}

.ct-grid {
  stroke: rgba(0, 0, 0, 0.09);
  stroke-width: 2px;
  stroke-dasharray: 3px;
}

.ct-chart .ct-label {
  fill: #707070;
  color: #707070;
  font-size: 14px;
  line-height: 1;
}

.ct-chart.simple-pie-chart-chartist .ct-label {
  color: #ffffff;
  fill: #ffffff;
  font-size: 16px;
}

.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice-donut {
  stroke: #7a6fbe;
}

.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice-donut {
  stroke: #29bbe3;
}

.ct-chart .ct-series.ct-series-c .ct-bar,
.ct-chart .ct-series.ct-series-c .ct-line,
.ct-chart .ct-series.ct-series-c .ct-point,
.ct-chart .ct-series.ct-series-c .ct-slice-donut {
  stroke: #f5b225;
}

.ct-chart .ct-series.ct-series-d .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-line,
.ct-chart .ct-series.ct-series-d .ct-point,
.ct-chart .ct-series.ct-series-d .ct-slice-donut {
  stroke: #2a3142;
}

.ct-chart .ct-series.ct-series-e .ct-bar,
.ct-chart .ct-series.ct-series-e .ct-line,
.ct-chart .ct-series.ct-series-e .ct-point,
.ct-chart .ct-series.ct-series-e .ct-slice-donut {
  stroke: #58db83;
}

.ct-chart .ct-series.ct-series-f .ct-bar,
.ct-chart .ct-series.ct-series-f .ct-line,
.ct-chart .ct-series.ct-series-f .ct-point,
.ct-chart .ct-series.ct-series-f .ct-slice-donut {
  stroke: #ec536c;
}

.ct-chart .ct-series.ct-series-g .ct-bar,
.ct-chart .ct-series.ct-series-g .ct-line,
.ct-chart .ct-series.ct-series-g .ct-point,
.ct-chart .ct-series.ct-series-g .ct-slice-donut {
  stroke: #f8f9fa;
}

.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
  fill: #7a6fbe;
}

.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
  fill: #f5b225;
}

.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
  fill: #2a3142;
}

.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 10px;
  padding: 2px 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
  background: #2a3142;
  color: #ffffff;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.chartist-tooltip.tooltip-show {
  opacity: 1;
}

/* C3 chart */
.c3 svg {
  max-width: 100%;
}

.c3-tooltip td>span {
  background: #2a3142;
}

.c3-tooltip td {
  border-left: none;
}

.c3-tooltip {
  -webkit-box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.12);
  opacity: 1;
}

.c3-chart-arcs-title {
  font-size: 18px;
  font-weight: 600;
}

.c3-tooltip tr {
  border: none !important;
}

.c3-tooltip th {
  background-color: #2a3142;
}

.c3-tooltip .value {
  font-weight: 600;
}

.c3-line {
  stroke-width: 2px;
}

.c3-legend-item {
  font-size: 13px;
}

/* Sparkline chart */
.jqstooltip {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-color: #ffffff !important;
  padding: 5px 10px !important;
  border-radius: 3px;
  border-color: #ffffff !important;
  -webkit-box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

.jqsfield {
  font-size: 12px !important;
  line-height: 18px !important;
  color: #2a3142 !important;
}

/* ======
28. Widgets
   ====== */
/* ==============
  Widgets
===================*/
.widget-chart li {
  width: 31.5%;
  display: inline-block;
  padding: 0;
}

.widget-chart li i {
  font-size: 22px;
}

.mini-stat {
  border: none;
}

.mini-stat .mini-stat-img {
  background: url(../images/bg-1.png);
  background-size: cover;
}

.mini-stat .mini-stat-icon i {
  font-size: 30px;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  color: #ffffff !important;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: inline-block;
}

.inbox-wid .inbox-item {
  position: relative;
  border-bottom: 1px solid rgba(243, 243, 243, 0.9);
  overflow: hidden;
  padding: 10px 0;
}

.inbox-wid .inbox-item .inbox-item-date {
  font-size: 11px;
  position: absolute;
  right: 7px;
  top: 8px;
}

.widget-user {
  overflow: hidden;
}

.widget-user .widget-user-desc::after {
  left: 18px;
  bottom: -20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #7a6fbe;
  border-width: 10px;
  margin-left: -1px;
  border-right-color: #7a6fbe;
}

/* ======
29. TImeline
   ====== */
/* ==============
  Timeline
===================*/
/* Activity */
.activity-feed {
  padding: 15px 15px 0 15px;
  list-style: none;
}

.activity-feed .feed-item {
  position: relative;
  padding-bottom: 29px;
  padding-left: 30px;
  border-left: 2px solid #e9ecef;
}

.activity-feed .feed-item:last-child {
  border-color: transparent;
}

.activity-feed .feed-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -10px;
  width: 16px;
  height: 10px;
  border-radius: 6px;
  background: #ffffff;
  border: 4px solid #7a6fbe;
}

.activity-feed .feed-item .feed-item-list {
  padding: 12px 20px;
  border-radius: 7px;
  background: #f8f9fa;
}

.activity-feed .feed-item .feed-item-list::after {
  left: 19px;
  top: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #f8f9fa;
  border-width: 10px;
  margin-left: -1px;
  border-right-color: #f8f9fa;
}

.activity-feed .feed-item .date {
  display: block;
  position: relative;
  top: -5px;
  color: #8c96a3;
  text-transform: uppercase;
  font-size: 13px;
}

.activity-feed .feed-item .activity-text {
  position: relative;
  top: -3px;
}

/* Timeline */
.cd-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.cd-container::after {
  content: '';
  display: table;
  clear: both;
}

@media only screen and (max-width: 1170px) {
  #cd-timeline {
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 2em 0;
    position: relative;
  }

  #cd-timeline::before {
    border-left: 3px solid #e9ecef;
    content: '';
    height: 100%;
    left: 18px;
    position: absolute;
    top: 0;
    width: 3px;
  }

  .cd-timeline-img {
    top: 10px !important;
  }
}

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-bottom: 3em;
    margin-top: 3em;
  }

  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  margin: 2em 0;
  position: relative;
}

.cd-timeline-block:after {
  clear: both;
  content: "";
  display: table;
}

.cd-timeline-block:first-child {
  margin-top: 0;
}

.cd-timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }

  .cd-timeline-block:first-child {
    margin-top: 0;
  }

  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }

  .timeline-right::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 3px;
    background: #e9ecef;
    left: 50%;
    top: 150px;
    -webkit-transform: translateX(-50%) rotate(35deg);
    transform: translateX(-50%) rotate(35deg);
  }

  .timeline-left::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 3px;
    background: #e9ecef;
    left: 50%;
    top: 150px;
    -webkit-transform: translateX(-50%) rotate(-35deg);
    transform: translateX(-50%) rotate(-35deg);
  }
}

.cd-timeline-img {
  position: absolute;
  top: 20px;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  color: #ffffff;
  background-color: #7a6fbe;
  border: 5px solid #ffffff;
}

.cd-timeline-img i {
  margin-left: 1px;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 40px;
    height: 40px;
    line-height: 32px;
    left: 50%;
    margin-left: -20px;
    top: 130px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.cd-timeline-content {
  border-radius: 5px;
  background: #f8f9fa;
  margin-left: 60px;
  padding: 1em;
  position: relative;
}

.cd-timeline-content:after {
  clear: both;
  content: "";
  display: table;
}

.cd-timeline-content h2 {
  margin-top: 0;
}

.cd-timeline-content .cd-read-more {
  background: #7a6fbe;
  border-radius: 0.25em;
  color: white;
  display: inline-block;
  float: right;
  font-size: 14px;
  padding: .8em 1em;
}

.cd-timeline-content .cd-date {
  display: inline-block;
  font-size: 14px;
}

.cd-timeline-content h3 {
  font-size: 16px;
  margin: 0 0 15px 0;
}

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 12px solid transparent;
  border-right: 12px solid #f8f9fa;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 36%;
  }

  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #f8f9fa;
  }

  .cd-timeline-content .cd-read-more {
    float: left;
  }

  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 108%;
    top: 16px;
  }

  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }

  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #f8f9fa;
  }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 106%;
    text-align: right;
  }
}

/* ======
30. Directory
   ====== */
.directory-card {
  overflow: hidden;
}

.directory-card .directory-bg {
  background-image: url("../images/directory-bg.jpg");
  background-size: cover;
  background-position: center center;
}

.directory-card .directory-overlay {
  background-color: rgba(122, 111, 190, 0.7);
  padding: 20px;
}

.directory-card img {
  position: relative;
  top: 60px;
}

/* ======
31. Invoice
   ====== */
/* ==== =====
Invoice
============= */
.table>thead>tr>.no-line {
  border-bottom: none;
}

.table>tbody>tr>.no-line {
  border-top: none;
}

.table>tbody>tr>.thick-line {
  border-top: 2px solid #f8f9fa;
}

/* ==============
  Print css
===================*/
@media print {

  .topbar,
  .left,
  .page-title-box,
  .footer {
    display: none;
  }

  .wrapper {
    padding: 0;
  }

  .content {
    margin-top: 0;
    padding-top: 0;
  }

  .content-page {
    margin-left: 0;
    margin-top: 0;
  }

  .container-fluid {
    width: 100%;
  }
}

/* ======
32. Account Pages
   ====== */
/* ==============
  Account Pages
===================*/
.wrapper-page {
  margin: 5.5% auto;
  max-width: 460px;
  position: relative;
}

.wrapper-page .logo-admin {
  font-size: 28px;
  line-height: 70px;
}

.user-thumb {
  position: relative;
  z-index: 999;
}

.user-thumb img {
  height: 88px;
  margin: 0 auto;
  width: 88px;
}

.ex-page-content h1 {
  font-size: 98px;
  font-weight: 500;
  line-height: 150px;
  text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
}

/* ======
33. Dashboard Page
   ====== */
.dashboard-charts {
  height: 300px;
}

/* ======
34. Responsive
   ====== */
@media (max-width: 620px) {
  .mo-mb-2 {
    margin-bottom: 10px;
  }

  .mo-mt-2 {
    margin-top: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .topbar-left {
    width: 70px !important;
  }

  .topbar-left span {
    display: none !important;
  }

  .topbar-left i {
    display: block !important;
    line-height: 70px !important;
  }

  .navbar-custom {
    margin-left: 70px !important;
  }

  .topbar .topbar-left {
    height: 70px;
  }

  .content-page {
    margin-left: 0 !important;
  }

  .content-page .content {
    padding: 0px;
  }

  .enlarged .left.side-menu {
    margin-left: -70px;
  }

  .footer {
    left: 0 !important;
  }
}

@media (max-width: 480px) {
  .side-menu {
    z-index: 10 !important;
  }

  .button-menu-mobile {
    display: block;
  }

  .navbar-custom {
    margin-left: 0 !important;
  }
}

@media (max-width: 419px) {
  .topbar-left {
    width: 70px !important;
  }

  .content-page {
    margin-left: 70px;
  }

  .enlarged .side-menu.left {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
  }

  .topbar-left {
    display: none;
  }

  .nav-tabs .nav-link,
  .nav-pills .nav-link {
    padding: 0.5rem;
  }
}

@media (min-width: 768px) {
  .enlarged .slimscroll-menu {
    overflow: inherit !important;
  }
}

/*# sourceMappingURL=style.css.map */


.home-card-min-height {
  min-height: 44vh;
  height: 44vh;
  overflow-x: hidden;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

/*
 * icon-box.less
 * -----------------------------------------------
*/
.icon-box-new {
  margin-bottom: 30px;
}

.icon-box-new .icon {
  display: inline-block;
  height: 70px;
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 70px;
  text-align: center;
}

.icon-box-new .icon i {
  line-height: 70px;
}

.icon-box-new .icon.icon-gray {
  background-color: #eeeeee;
  color: #555555;
}

.icon-box-new .icon.icon-gray:hover {
  background-color: #d5d5d5;
  color: #bbbbbb;
}

.icon-box-new .icon.icon-gray.icon-bordered {
  background-color: transparent;
  border: 2px solid #eeeeee;
}

.icon-box-new .icon.icon-gray.icon-bordered:hover {
  background-color: #eeeeee;
  color: #555555;
}

.icon-box-new .icon.icon-dark {
  background-color: #111111;
  color: #fff;
}

.icon-box-new .icon.icon-dark:hover {
  color: #5e5e5e;
}

.icon-box-new .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border: 2px solid #111111;
  color: #111111;
}

.icon-box-new .icon.icon-dark.icon-bordered:hover {
  background-color: #111111;
  border-color: #111111;
  color: #fff;
}

.icon-box-new .icon.icon-white {
  background-color: #fff;
  color: #333333;
}

.icon-box-new .icon.icon-white:hover {
  background-color: #b3b3b3;
  color: #000000;
}

.icon-box-new .icon.icon-white.icon-bordered {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.icon-box-new .icon.icon-white.icon-bordered:hover {
  background-color: #fff;
  border-color: #fff;
  color: #111111;
}

.icon-box-new .icon.icon-white.icon-border-effect {
  position: relative;
}

.icon-box-new .icon.icon-white.icon-border-effect::after {
  box-shadow: 0 0 0 3px #fff;
}

.icon-box-new .icon.icon-bordered {
  border: 1px solid #777777;
}

.icon-box-new .icon.icon-bordered:hover {
  background-color: #777777;
  color: #fff;
}

.icon-box-new .icon.icon-rounded {
  border-radius: 3px;
}

.icon-box-new .icon.icon-circled {
  border-radius: 50%;
}

.icon-box-new .icon.icon-xs {
  height: 30px;
  width: 30px;
}

.icon-box-new .icon.icon-xs i {
  font-size: 18px;
  line-height: 30px;
}

.icon-box-new .icon.icon-sm {
  height: 50px;
  width: 50px;
}

.icon-box-new .icon.icon-sm i {
  font-size: 22px;
  line-height: 50px;
}

.icon-box-new .icon.icon-md {
  height: 75px;
  width: 75px;
}

.icon-box-new .icon.icon-md i {
  font-size: 36px;
  line-height: 75px;
}

.icon-box-new .icon.icon-lg {
  height: 90px;
  width: 90px;
}

.icon-box-new .icon.icon-lg i {
  font-size: 48px;
  line-height: 90px;
}

.icon-box-new .icon.icon-xl {
  height: 120px;
  width: 120px;
}

.icon-box-new .icon.icon-xl i {
  font-size: 60px;
  line-height: 120px;
}

.icon-box-new .icon.icon-border-effect {
  position: relative;
}

.icon-box-new .icon.icon-border-effect::after {
  border-radius: 50%;
  box-shadow: 0 0 0 3px;
  box-sizing: content-box;
  content: "";
  height: 100%;
  right: -4px;
  opacity: 0;
  padding: 4px;
  top: -4px;
  transform: scale(0.8);
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.icon-box-new .icon.icon-border-effect.effect-flat::after {
  border-radius: 0;
}

.icon-box-new .icon.icon-border-effect.effect-rounded::after {
  border-radius: 3px;
}

.icon-box-new .icon.icon-border-effect.effect-circled::after {
  border-radius: 50%;
}

.icon-box-new .icon.icon-border-effect.icon-gray::after {
  box-shadow: 0 0 0 3px #eeeeee;
}

.icon-box-new .icon.icon-top {
  right: 0;
  margin: 0 auto;
  position: absolute;
  left: 0;
  top: -32px;
}

.icon-box-new i {
  display: inline-block;
  font-size: 40px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.icon-box-new i[class*="pe-7s-"] {
  vertical-align: text-bottom;
}

.icon-box-new.left {
  text-align: right;
}

.icon-box-new.left a {
  margin-left: 30px;
  padding: 0;
}

.icon-box-new.iconbox-border {
  border: 1px solid #dcdcdc;
}

.icon-box-new.iconbox-bg {
  background-color: #fafafa;
}

.icon-box-new.iconbox-bg.iconbox-bg-dark {
  background-color: #333333;
}

.icon-box-new.icon-left .icon {
  float: right;
  margin-left: 15px;
}

@media only screen and (max-width: 767px) {
  .icon-box-new.icon-left .icon {
    float: none !important;
    margin-left: 0;
  }
}

.icon-box-new.icon-left .icon.no-bg {
  width: auto;
  height: auto;
}

.icon-box-new {
  margin-bottom: 30px;
}

.icon-box-new:hover {
  -webkit-box-shadow: 0 10px 5px 0 rgba(14, 15, 16, 0.1);
  -moz-box-shadow: 0 10px 5px 0 rgba(14, 15, 16, 0.1);
  box-shadow: 0 10px 5px 0 rgba(14, 15, 16, 0.1);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*
 * Shortcode: teams.less
 * -----------------------------------------------
*/
.team-member .thumb {
  position: relative;
  overflow: hidden;
}

.team-member .thumb img {
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.team-member:hover .thumb img {
  transform: scale(1.1);
}

.team-member .thumb .info {
  bottom: -50px;
  position: absolute;
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  width: 100%;
}

.team-member:hover .thumb .info {
  bottom: 0;
}

.dl-horizontal.doctor-info dt {
  color: #333333;
  font-size: 14px;
  width: auto;
}

@media only screen and (max-width: 767px) {
  .dl-horizontal.doctor-info dt {
    margin-bottom: 10px;
  }
}

form .form-control.error {
  border: 2px solid #ee163b;
}

form .error {
  color: #ee163b;
}

/* spinner */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.upload__box {
  padding: 10px;
}

.upload__inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload__btn {
  display: inline-block;
  font-weight: 600;
  color: #fff;
  text-align: center;
  min-width: 116px;
  padding: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid;
  background-color: #4045ba;
  border-color: #4045ba;
  border-radius: 10px;
  line-height: 26px;
  font-size: 14px;
}

.upload__btn:hover {
  background-color: unset;
  color: #4045ba;
  transition: all 0.3s ease;
}

.upload__btn-box {
  margin-bottom: 10px;
}

.upload__img-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.upload__img-box {
  width: 100px;
  padding: 0 10px;
  margin-bottom: 12px;
}

.upload__img-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
}

.upload__img-close:after {
  content: "✖";
  font-size: 14px;
  color: white;
}

.img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 100%;
}

.upload__btn p {
  margin: 0px !important;
}