<app-loader *ngIf="loadingModal"></app-loader>
<app-breadcrumbs [pageTitle]="'Our Service'"></app-breadcrumbs>
<!-- ======= Specials Section ======= -->
<section class="specials ">
  <div class="container">

    <div class="section-title">
      <h2>{{heading_container.serviceHeading}}</h2>
      <p>{{heading_container.serviceContent}}</p>
    </div>

    <div class="row mt-5">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item" *ngFor="let list of service_container">
            <a [ngClass]="list.isActive == true ? 'nav-link active show' : 'nav-link'" data-bs-toggle="tab"
              href="#{{list.tabId}}">{{list.serviceName}}</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          <div [ngClass]="list.isActive == true ? 'tab-pane active show' : 'tab-pane'" id="{{list.tabId}}"
            *ngFor="let list of service_container">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>{{list.serviceHeading}}</h3>
                <div [innerHtml]='list.serviceContent'></div>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img [src]="list.serviceImageUrl" alt="" class="img-fluid">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section><!-- End Specials Section -->
