<app-loader *ngIf="loadingModal"></app-loader>

<app-breadcrumbs [pageTitle]="'Gallery'"></app-breadcrumbs>
<!-- ======= Gallery Section ======= -->
<section class="gallery" style="background-color: #fff;">
  <div class="container mb-5 pb-5">

    <div class="section-title">
      <h2>{{heading_container.galleryHeading}}</h2>
      <p>{{heading_container.galleryContent}}</p>
    </div>

    <div class="row justify-content-center no-gutters">
      <div class="col-12 col-md-4 col-sm-6 mt-3" *ngFor="let image of gallery_container">
        <div class="image-container">
          <div class="box">
            <div class="imgBox">
              <img [src]="image.data[0]['imageUrl']">
            </div>
            <div class="content">
              <h2 (click)='showGallery(image.data[0].galleryId)' style="cursor: pointer;">{{image.galleryName}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section><!-- End Gallery Section -->
