.gallery-wrapper {
  text-align: center;
  margin-top: 50px;

  .ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
    width: 500px;
    height: 400px;
    border-color: #4a89ff;
  }
}


.overlay-box {
  background-color: #000000a8;
  text-align: center;
  height: 100%;
  /*height needs to be set*/
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000000;
}

.overlay-close {
  padding-top: 23px;
  position: absolute;
  right: 15%;
}

.overlay-close i {
  color: #fff;
  font-size: 30px;
}
