<app-loader *ngIf="loadingModal"></app-loader>

<app-breadcrumbs [pageTitle]="'Video Gallery'"></app-breadcrumbs>
<section>
  <div class="container">

    <div class="row">
      <!-- <div class="col-3 mt-4" *ngFor="let image of images; let i=index">
        <div class="img-box">
          <img [src]="image.src" (click)="open(i)" style="width: 100%;" />
        </div>
      </div> -->

      <div class="col-md-4 col-sm-6 col-12 mt-4" *ngFor="let image of videoGallery; let i=index">
        <div class="img-box">
          <ng-image-slider [images]="image.gallery" [imageSize]='{width: 400, height: 300}' [showArrow]='false'>
          </ng-image-slider>
        </div>
        <div class="row text-center">
          <div class="col-md-12">
            <p>{{image.videotext}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
