<%- contentFor('HeaderCss') %>
<!-- perticular page css -->

<%- contentFor('body') %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Dashboard</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">
                            Welcome to The Wedding Era
                        </li>
                    </ol>

                    <% include ../Partials/TinyCharts %>

                </div>
            </div>
        </div>


        <!-- end row -->

    </div> <!-- container-fluid -->
</div> <!-- content -->

<%- contentFor('FooterJs') %>
<!--Morris Chart-->
<script src="public/plugins/morris/morris.min.js"></script>
<script src="public/plugins/raphael/raphael-min.js"></script>
<script src="public/resources/dashboard.js"></script>