<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-center justify-content-lg-start">
    <i class="bi bi-phone d-flex align-items-center"><span>{{header_container.header_contact}}</span></i>
    <i class="bi bi-clock ms-4 d-none d-lg-flex align-items-center"><span>Mon-Sat:
        {{header_container.header_time}}</span></i>
  </div>
</section>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center "
  [ngStyle]="isHeaderInfo == true ? {'top':'38px','background': 'rgb(0 0 0 / 75%)'} : {'top':'0px','background': 'rgb(0 0 0 / 100%)'}">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <div class="logo me-auto">
      <!-- <h1><a href="#">Delicious</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a routerLink="/home"><img [src]="header_container.header_logo_uri" alt="" class="img-fluid"></a>
    </div>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link" routerLink="/home" routerLinkActive="router-link-active">Home</a>
        </li>
        <li><a class="nav-link" routerLink="/about-us">About Us</a></li>
        <li><a class="nav-link" routerLink="/service">Service</a></li>
        <li><a class="nav-link" routerLink="/gallery">Gallery</a></li>
        <li><a class="nav-link" routerLink="/video-gallery">Video Gallery</a></li>
        <li><a class="nav-link" routerLink="/contsct-us">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <a routerLink="/contsct-us" class=" book-a-table-btn">Connect With Us</a>

  </div>
</header><!-- End Header -->
