<app-breadcrumbs [pageTitle]="galleryName"></app-breadcrumbs>
<!-- ======= Gallery Section ======= -->
<section class="gallery mb-5 pb-5">
  <div class="container">

    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 mt-4" *ngFor="let image of images; let i=index">
        <div class="img-box">
          <img [src]="image.src" (click)="open(i)" />
        </div>
      </div>

    </div>

  </div>

</section><!-- End Gallery Section -->
