/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/scss/font-awesome.scss";


.image-container {
  position: relative;
  height: auto;
}

.image-container .box {
  position: relative;
  width: calc(26rem - 60px);
  height: 18rem;
  background: #ffa012;
  float: left;
  // margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .8);
}

.image-container .box:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleX(0);
  opacity: 0;
}

.image-container .box:hover:before {
  transform: scaleX(1);
  opacity: 1;
}

.image-container .box:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleY(0);
  opacity: 0;
}

.image-container .box:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

.image-container .box .imgBox {
  position: relative;
}

.image-container .box .imgBox img {
  width: 100%;
  transition: 0.5s;
  height: calc(23rem - 80px);
  object-fit: cover;
}

.image-container .box:hover .imgBox img {
  opacity: .2;
  transform: scale(1.2);
}

.image-container .box .content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.image-container .box .content h2 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  transition: 0.5s;
  transform: translateY(-30px);
  opacity: 0;
  visibility: hidden;
  font-size: 30px;
  cursor: pointer;
}

.image-container .box .content p {
  margin: 0;
  padding: 0;
  color: #fff;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
}

.image-container .box:hover .content h2,
.image-container .box:hover .content P {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.header-hide {
  top: 0px !important;
  display: none !important;
  transition: display 2s;
}

.header-show {
  display: flex !important;
}

hr.hr-1 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgb(247 2 2 / 0%), rgb(255 0 1), rgba(0, 0, 0, 0));
  width: 30%;
}

hr.hr-1:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #fff;
}

hr {
  background-color: #fff;
  padding: 0;
  margin: 20px auto;
}


html,
body {
  height: 100%;
}

.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  overflow: hidden;
}

.loader .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;

  position: absolute;

  animation: spin 1s ease-in-out infinite;
}

.loader .circle:nth-child(1) {
  border-top: 2px solid rgb(255, 183, 0);
  /*   animation-duration: 1s; */
}


.loader .circle:nth-child(2) {
  border-bottom: 2px solid rgb(255, 132, 0);
  width: 120px;
  height: 120px;
  /*   animation-duration: 2s; */

}

.loader .circle:nth-child(3) {
  border-left: 2px solid rgb(230, 255, 1);
  width: 180px;
  height: 180px;
  /*   animation-duration: 1s; */
}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(720deg)
  }
}
