<!-- ======= Hero Section ======= -->
<app-loader *ngIf="loadingModal"></app-loader>
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let slide of slidesStore" class="owl-carousel owl-theme">
            <ng-template carouselSlide [id]="slide.id">
              <div class="carousel-content">
                <!-- <h2 class="wow fadeInDown" data-wow-delay="0.5s">{{slide.bannerHeading}}</h2>
                <p class="wow animate__animated animate__fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                  {{slide.bannerSubHeading}}</p>
                <div>
                  <a routerLink="/contsct-us" class="btn-book wow animate__animated animate__fadeInUp scrollto">Contact
                    With
                    Us</a>
                </div> -->
              </div>
              <img class="owl-img" [src]="slide.bannerImageUrl">
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section class="about">
    <div class="container-fluid">

      <div class="row mt-5 mb-3">
        <div class="section-title">
          <h2>Welcome To Weadding Era</h2>
          <hr class="hr-1">
        </div>

        <!-- <div class="col-lg-5 align-items-stretch video-box wow animate__animated animate__fadeInLeft">
          <img [src]="about_container.aboutImageUrl">
          <a [href]="about_container.aboutVideoUrl" class="venobox play-btn mb-4" data-vbtype="video"
            data-autoplay="true" target="_blank"></a>
        </div> -->

        <div class="col-lg-12 d-flex flex-column align-items-stretch text-center">
          <div class="content wow animate__animated animate__fadeIn" data-wow-duration="2s"
            [innerHtml]="about_container.aboutUsContent">
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

  <!-- ======= Gallery Section ======= -->
  <section class="gallery mb-5">
    <div class="container">

      <div class="section-title">
        <h2>{{heading_container.galleryHeading}}</h2>
        <!-- <hr class="hr-1"> -->
        <p class="text-light">{{heading_container.galleryContent}}</p>
      </div>
      <div class="row justify-content-center no-gutters">
        <div class="col-12 col-sm-6 col-md-4 mt-4 wow animate__animated animate__fadeInUp" data-wow-duration="1s"
          *ngFor="let image of gallery_container">
          <div class="image-container">
            <div class="box">
              <div class="imgBox">
                <img [src]="image.data[0]['imageUrl']">
              </div>
              <div class="content">
                <h2 (click)='showGallery(image.data[0].galleryId)' style="cursor: pointer;">{{image.galleryName}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Gallery Section -->
  <!-- ======= Whu Us Section ======= -->
  <!-- <section class="why-us" *ngIf="isShortWidets">
    <div class="container">

      <div class="section-title">
        <h2>{{heading_container.whyChooseUsHeading}}</h2>
        <hr class="hr-1">
        <p>{{heading_container.whyChooseUsContent}}</p>
      </div>

      <div class="row">
        <div class="col-lg-4 wow animate__animated animate__fadeInDown" *ngFor="let item of short_widget_container">
          <div class="box">
            <span>{{item.widgetNumber}}</span>
            <h4>{{item.widgetHeading}}</h4>
            <p>{{item.widgetContent}}</p>
          </div>
        </div>
      </div>

    </div>
  </section> -->
  <!-- ======= Specials Section ======= -->
  <section class="specials">
    <div class="container">

      <div class="section-title">
        <h2>{{heading_container.serviceHeading}}</h2>
        <hr class="hr-1">
        <p>{{heading_container.serviceContent}}</p>
      </div>

      <div class="row wow animate__animated animate__fadeInUp">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item" *ngFor="let list of service_container">
              <a [ngClass]="list.isActive == true ? 'nav-link active show' : 'nav-link'" data-bs-toggle="tab"
                href="#{{list.tabId}}">{{list.serviceName}}</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div [ngClass]="list.isActive == true ? 'tab-pane active show' : 'tab-pane'" id="{{list.tabId}}"
              *ngFor="let list of service_container">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>{{list.serviceHeading}}</h3>
                  <div [innerHtml]='list.serviceContent'></div>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img [src]="list.serviceImageUrl" alt="" class="img-fluid">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section><!-- End Specials Section -->

  <!-- ======= Testimonials Section ======= -->
  <section class="testimonials">
    <div class="container position-relative">

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <owl-carousel-o [options]="testimonialOption">
          <ng-container *ngFor="let slide of testimonialContainer" class="swiper-wrapper">
            <ng-template carouselSlide [id]="slide.id">
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img [src]="slide.testimonialImageUrl" class="testimonial-img" alt="">
                  <h3>{{slide.testimonialClientName}}</h3>
                  <h4>{{slide.testimonialClientPost}}</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {{slide.testimonialMessage}}
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->


  <!-- ======= Contact Section ======= -->
  <section class="contact">
    <div class="container">

      <div class="section-title">
        <h2>{{heading_container.contactHeading}}</h2>
        <hr class="hr-1">
        <p>{{heading_container.contactContent}}</p>
      </div>
    </div>

    <div class="map">
      <!-- <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58908.76246842234!2d88.83381831681362!3d22.661331751212376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ff567854e8190f%3A0xf12dc8b635ba902f!2sBasirhat%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1639484225074!5m2!1sen!2sin"
        width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->

      <!-- <iframe style="border:0; width: 100%; height: 350px;" [src]='contact_map_src' frameborder="0"
        allowfullscreen></iframe> -->
      <!-- <ng-container>{{contact_container.contactMap}}</ng-container> -->
    </div>

    <div class="container mt-5">

      <div class="info-wrap">
        <div class="row">
          <div class="col-lg-3 col-md-6 info">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>{{contact_container.contactAddress}}</p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="bi bi-clock"></i>
            <h4>Open Hours:</h4>
            <p>Monday-Saturday:<br>{{contact_container.contactHour}}</p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>{{contact_container.conatctEmail}}</p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>{{contact_container.contcatNumber}}</p>
          </div>
        </div>
      </div>

      <form class="php-email-form">
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" [(ngModel)]="user_fullName"
              [ngModelOptions]="{standalone: true}" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" [(ngModel)]="user_email" [ngModelOptions]="{standalone: true}"
              placeholder="Your Email" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="text" class="form-control" [(ngModel)]="user_subject" [ngModelOptions]="{standalone: true}"
              placeholder="Subject" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="text" class="form-control" [(ngModel)]="user_mobile_number"
              [ngModelOptions]="{standalone: true}" placeholder="Mobile Number" required>
          </div>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" [(ngModel)]="user_msg" [ngModelOptions]="{standalone: true}" rows="5"
            placeholder="Message" required></textarea>
        </div>
        <div class="messagetext-success" *ngIf="isSuccess">Your message has been sent. Thank you!</div>
        <div class="message text-dengar" *ngIf="isNotSuccess">Something Went Wrong</div>
        <div class="text-center"><button type="submit" (click)="submitUserFrom()">Send Message</button></div>
      </form>

    </div>
  </section><!-- End Contact Section -->
  <!-- ======= Chefs Section ======= -->
  <section class="chefs">
    <div class="container">

      <div class="section-title">
        <h2>{{heading_container.teamHeading}}</h2>
        <p class="text-light">{{heading_container.teamContent}}</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6 wow animate__animated animate__fadeIn" *ngFor="let item of team_container">
          <div class="member">
            <div class="pic"><img [src]="item.memberImageUrl" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>{{item.memberName}}</h4>
              <span>{{item.memberPost}}</span>

            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Chefs Section -->


</main><!-- End #main -->
