.owl-wrapper {
  position: relative;
}

.owl-controls {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.owl-theme .owl-controls .owl-page span {
  background: #fff !important;
}

.owl-img {
  width: 100%;
}

.owl-text-overlay {
  position: absolute;
  text-align: center;
  width: 60%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.4);
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  border-radius: 15px 50px 30px 5px;
}

h2.owl-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;

}

.owl-theme .owl-controls .owl-page span:active {
  background: #fff !important;
}

.gallery-wrapper {
  text-align: center;
  margin-top: 50px;

  .ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
    width: 500px;
    height: 400px;
    border-color: #4a89ff;
  }
}


.overlay-box {
  background-color: #000000a8;
  text-align: center;
  height: 100%;
  /*height needs to be set*/
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000000;
}

.overlay-close {
  padding-top: 23px;
  position: absolute;
  right: 15%;
}

.overlay-close i {
  color: #fff;
  font-size: 30px;
}
